In [1]:
import os
os.chdir('/Users/sampathkumar/Desktop/general-practice-prescribing-data')

In [2]:
import csv

with open('hope.csv') as f:
    # look, a builtin to read csv file lines as dictionaries!
    reader = csv.DictReader(f)

    # build a mapping of id to field3
    id_to_field3 = {row['index']: row['bnf_code'] for row in reader}

# you can put more than one open inside a with statement
with open('T201702PDPI+BNFT.csv') as f, open('febresult.csv', 'w') as fo:
    # csv even has a class to write files!
    reader = csv.DictReader(f)
    res = csv.DictWriter(fo, fieldnames=reader.fieldnames + ['original_bnf_code'])

    res.writeheader()
    for row in reader:
        # .get returns its second argument if there was no match
        row['original_bnf_code'] = id_to_field3.get(row['bnf_code'], '')
        res.writerow(row)

In [9]:
import pandas as pd
febresultdf= pd.read_csv('febresult.csv')
#mayresultdf = mayresultdf.drop([(mayresultdf[mayresultdf.bnf_code] >=20010000101) & (mayresultdf[mayresultdf.bnf_code] <=23965909627)].index)
r1 = febresultdf.groupby('bnf_code')['quantity'].sum().reset_index()
r1.columns=['bnf_code', 'quantity']
r1.head()

   bnf_code  quantity
0         1       946
1         4    212835
2         7      9250
3         8        13
4         9     13500

In [4]:
r1.to_csv('req10.csv', encoding='utf-8')

In [5]:
import csv

with open('hope.csv') as f:
    # look, a builtin to read csv file lines as dictionaries!
    reader = csv.DictReader(f)

    # build a mapping of id to field3
    id_to_field3 = {row['index']: row['bnf_code'] for row in reader}

# you can put more than one open inside a with statement
with open('req10.csv') as f, open('feb1.csv', 'w') as fo:
    # csv even has a class to write files!
    reader = csv.DictReader(f)
    res = csv.DictWriter(fo, fieldnames=reader.fieldnames + ['original_bnf_code'])

    res.writeheader()
    for row in reader:
        # .get returns its second argument if there was no match
        row['original_bnf_code'] = id_to_field3.get(row['bnf_code'], '')
        res.writerow(row)

In [10]:
feb2 = pd.read_csv('feb1.csv',converters={'stripped_bnf_code': lambda x: str(x)})
feb2.head()

   Unnamed: 0  bnf_code  quantity original_bnf_code stripped_bnf_code
0        3088      3972     17784   0101010C0AAAAAA              0101
1         109       146     27146   0101010C0BBAAAA              0101
2       16730     21603      3070   0101010F0AAAUAU              0101
3        2794      3580       120   0101010F0BCAAAU              0101
4        1577      2032   1328950   0101010G0AAABAB              0101

In [11]:
m1 = feb2.groupby('stripped_bnf_code')['quantity'].sum().reset_index()
m1.columns=['stripped_bnf_code', 'quantity']
m1.to_csv('feb_final.csv', encoding='utf-8' )
m2 =  pd.read_csv('feb_final.csv',converters={'stripped_bnf_code': lambda x: str(x)})
m2.head()

   Unnamed: 0 stripped_bnf_code   quantity
0           0              0101  170535224
1           1              0102   30069351
2           2              0103  187468317
3           3              0104   11276356
4           4              0105   23747241