# Homework 3  - Tryout pandas and numpy

Copy this notebook. Rename it as: YOURNAME-Homework-panda-numpy-Sept-2017

with your name replacing yourname and  replaced with the date you submit or to the last part.

Do the homeworks problems below.

Upload your completed jupyter notebook to your github site and send me the url via the elearning site as your homework submission. Please note that you need to do your own 3.4, and 3.5 if you share data and analysis from others then you cannot get more than a 3.

## Homework 3.1

### 3.1.a
Load the data from: http://opendata.dc.gov/datasets that I have include in this github   
into a dataframe.  ( The file has been is available in directory ./data/ccp_current_csv.csv )

In [2]:
import os
os.chdir("/Users/sampathkumar/Desktop")
import pandas as p
required = p.read_csv("ccp_current_csv.csv")
print (required)

                 STREET QUADRANT            FROMINTERSECTION  \
0               13th St       NW                  Kennedy St
1                  S St       NW            North Capitol St
2      Rhode Island Ave       NE            Brentwood Rd (W)
3               Mill Rd       NW                     27th St
4      Rhode Island Ave       NE            Brentwood Rd (M)
5             Mellon St       SE                      5th St
6          Nebraska Ave       NW              Northampton St
7           Military Rd       NW                     30th St
8          Nebraska Ave       NW                   Oliver St
9               16th St       NW                  Alaska Ave
10         Shoemaker St       NW                 Linnean Ave
11         Underwood St       NW             Piney Branch Rd
12             Elder St       NW                      7th St
13              26th St       NW              Northampton St
14               4th St       NW              Madison St (N)
15         Underwood Pl       NW            North Capitol St
16              20th St       NW                 Columbia Rd
17          Quintana Pl       NE                      3rd St
18         Tuckerman St       NE                  Kansas Ave
19              Eads St       NE                     45th St
20               4th St       SE                  Newcomb St
21              Belt Rd       NW                  Jenifer St
22            Oneida St       NE           New Hampshire Ave
23      Carrollsburg Pl       SW                        O St
24              23rd St       NW          Washington Cir (N)
25           Kanawha St       NW                    Utah Ave
26      Piney Branch Rd       NW                Underwood St
27              30th St       NW               Stephenson Pl
28              32nd St       NW                 Woodland Dr
29              33rd St       NW            Broad Branch Ter
..                  ...      ...                         ...
435      New Jersey Ave       NW                        F St
436             15th St       NE                     Ames Pl
437     East Capitol St       BN                        C St
438         Randolph St       NE                     25th Pl
439    South Dakota Ave       NE                Delafield St
440          Wheeler Rd       SE                 Congress St
441      New Jersey Ave       NW                        H St
442     Mount Olivet Rd       NE               Brentwood Pky
443              Oak St       NW                     16th St
444        Michigan Ave       NE                     14th St
445                C St       NE                     20th St
446        Virginia Ave       SE                  6th St (S)
447              Oak St       NW                Brown St (N)
448         Florida Ave       NE                New York Ave
449  North Carolina Ave       NE         East Capitol St (E)
450            Elder St       NW                      8th St
451          Benning Rd       SE                        G St
452           School St       SW                      4th St
453             18th St       NW                        M St
454       Longfellow St       NW                     16th St
455             10th St       NW                        M St
456          Woodley Rd       NW             Connecticut Ave
457          Woodley Rd       NW           Cathedral Ave (E)
458              3rd St       SW            Independence Ave
459             16th St       NW                 Primrose Rd
460          Woodley Rd       NW                  Woodley Pl
461         Western Ave       NW         Chevy Chase Cir (E)
462             49th St       NW                   Fulton St
463       Quackenbos St       NE           New Hampshire Ave
464    North Capitol St       BN  Hawaii Ave  Rock Creek Chu

                 TOINTERSECTION  NOOFBLOCKS                 WORKDESCRIPTION  \
0                 Longfellow St           1  Pavement Resurface/restoration
1                        3rd St           3                   Regular Cover
2              Brentwood Rd (M)           1  Pavement Resurface/restoration
3                    Cul De Sac           1  Pavement Resurface/restoration
4    14th St  Evarts St  Montan           2  Pavement Resurface/restoration
5     Martin Luther King Jr Ave           1  Pavement Resurface/restoration
6                     Oliver St           1  Pavement Resurface/restoration
7               Broad Branch Rd           4  Pavement Resurface/restoration
8                      Utah Ave           1  Pavement Resurface/restoration
9                   Primrose Rd          13                  Reconstruction
10                    Tilden St           1                       Upgrading
11              Georgia Ave (S)           1                  Reconstruction
12                       8th St           1                   Regular Cover
13               Rittenhouse St           1                   Regular Cover
14                   Peabody St           5                   Regular Cover
15                       1st St           1  Pavement Resurface/restoration
16                  Wyoming Ave           1  Pavement Resurface/restoration
17                  Eastern Ave           1  Pavement Resurface/restoration
18                  Eastern Ave           1                  Reconstruction
19                      47th St           1  Pavement Resurface/restoration
20                    Orange St           2  Pavement Resurface/restoration
21                  Military Rd           1                  Reconstruction
22                       6th St           2                   Regular Cover
23                         P St           1  Pavement Resurface/restoration
24                         M St           2  Pavement Resurface/restoration
25                      30th St           2                  Reconstruction
26                   Venable Pl           2  Pavement Resurface/restoration
27                  Tennyson St           1                   Regular Cover
28                Cleveland Ave           1                   Regular Cover
29                  Linnean Ter           1                   Regular Cover
..                          ...         ...                             ...
435                        G St           2  Pavement Resurface/restoration
436            Constitution Ave           1  Pavement Resurface/restoration
437           Anacostia Fwy (E)           2  Pavement Resurface/restoration
438                     26th St           1  Pavement Resurface/restoration
439                    Riggs Rd          10         Federal Aid Resurfacing
440                 Congress St           0             Traffic Signal Work
441                        I St           1  Pavement Resurface/restoration
442           West Virginia Ave           5  Pavement Resurface/restoration
443                Brown St (S)           1  Pavement Resurface/restoration
444                     16th St           1  Pavement Resurface/restoration
445                     22nd St           1  Pavement Resurface/restoration
446                  7th St (S)           1  Pavement Resurface/restoration
447                  Cul De Sac           1  Pavement Resurface/restoration
448                        O St           1  Pavement Resurface/restoration
449                     13th St           1  Pavement Resurface/restoration
450                 Georgia Ave           2  Pavement Resurface/restoration
451                        G St           0      High Accident Intersection
452                      6th St           1  Pavement Resurface/restoration
453  Connecticut Ave  Jefferson           1  Pavement Resurface/restoration
454                  Cul De Sac           1  Pavement Resurface/restoration
455                        N St           1  Pavement Resurface/restoration
456        29th St  Garfield St           3           Street Light Projects
457           Cathedral Ave (E)           0           Street Light Projects
458                        C St           1           Street Light Projects
459               Maryland Line           5                       Upgrading
460             Connecticut Ave           1           Street Light Projects
461                 Chestnut St          19         Federal Aid Resurfacing
462                 Garfield St           1  Pavement Resurface/restoration
463                 Eastern Ave           2  Pavement Resurface/restoration
464                 Buchanan St           1  Pavement Resurface/restoration

     YEARBUDGETED  PERCENTCOMPLETED     STATUS  MILES      ...       \
0            2004               100  Completed   0.07      ...
1            1999               100  Completed   0.33      ...
2            2004               100  Completed   0.09      ...
3            2004               100  Completed   0.07      ...
4            2005               100  Completed   0.16      ...
5            2005               100  Completed   0.20      ...
6            2004               100  Completed   0.07      ...
7            2004               100  Completed   0.35      ...
8            2005               100  Completed   0.04      ...
9            1999               100  Completed   0.97      ...
10           2004               100  Completed   0.06      ...
11           2004               100  Completed   0.08      ...
12           2004               100  Completed   0.08      ...
13           2004               100  Completed   0.16      ...
14           1999               100  Completed   0.27      ...
15           2004               100  Completed   0.14      ...
16           2004               100  Completed   0.04      ...
17           2004               100  Completed   0.12      ...
18           2004               100  Completed   0.12      ...
19           2005               100  Completed   0.16      ...
20           2005               100  Completed   0.11      ...
21           2004               100  Completed   0.16      ...
22           1999               100  Completed   0.34      ...
23           2004               100  Completed   0.06      ...
24           2004               100  Completed   0.15      ...
25           2004               100  Completed   0.21      ...
26           2004               100  Completed   0.16      ...
27           2004               100  Completed   0.15      ...
28           2004               100  Completed   0.06      ...
29           2004               100  Completed   0.14      ...
..            ...               ...        ...    ...      ...
435          2004               100  Completed   0.07      ...
436          2004               100  Completed   0.04      ...
437          2004               100  Completed   0.52      ...
438          2004               100  Completed   0.05      ...
439          2004               100  Completed   0.68      ...
440          2004               100  Completed   0.00      ...
441          2004               100  Completed   0.08      ...
442             4               100  Completed   0.33      ...
443          2005               100  Completed   0.04      ...
444          2004               100  Completed   0.11      ...
445          2004               100  Completed   0.06      ...
446          2004               100  Completed   0.16      ...
447          2004               100  Completed   0.09      ...
448          2004               100  Completed   0.05      ...
449          2004               100  Completed   0.04      ...
450          2005               100  Completed   0.11      ...
451          2004               100  Completed   0.00      ...
452          2004               100  Completed   0.13      ...
453          2005               100  Completed   0.06      ...
454          2004               100  Completed   0.10      ...
455          2005               100  Completed   0.11      ...
456          2003               100  Completed   0.27      ...
457          2003               100  Completed   0.00      ...
458          2003               100  Completed   0.10      ...
459          2005               100  Completed   0.27      ...
460          2003               100  Completed   0.07      ...
461          2004               100  Completed   1.19      ...
462          2004               100  Completed   0.12      ...
463          2005               100  Completed   0.24      ...
464          2003               100  Completed   0.02      ...

           YCOORD   LATITUDE  LONGITUDE  \
0    143205.11981  38.956747 -77.029694
1    138468.90256  38.914085 -77.012411
2    139574.10659  38.924041 -76.987221
3    138132.90198  38.911046 -77.054077
4    139657.25318  38.924790 -76.985068
5    130948.25958  38.846337 -76.998463
6    144260.95520  38.966246 -77.061675
7    143680.41824  38.961016 -77.062994
8    144332.34858  38.966889 -77.061126
9    145993.53492  38.981864 -77.036344
10   141355.75200  38.940080 -77.052639
11   144524.25789  38.968631 -77.026720
12   145484.90736  38.977286 -77.023701
13   144523.71012  38.968616 -77.055131
14   143645.75015  38.960719 -77.018034
15   144575.76052  38.969098 -77.010335
16   138911.21635  38.918061 -77.045630
17   144049.46375  38.964357 -77.001779
18   144380.43626  38.967338 -77.005814
19   136373.00889  38.895188 -76.936314
20   131031.17766  38.847084 -77.003775
21   143576.29028  38.960067 -77.080944
22   143788.68656  38.962008 -77.002159
23   133852.11487  38.872496 -77.009900
24   137368.33245  38.904161 -77.050114
25   143966.17156  38.963592 -77.058648
26   144641.00247  38.969683 -77.025542
27   144904.92557  38.972048 -77.059057
28   139907.44198  38.927027 -77.063269
29   143174.30874  38.956455 -77.065420
..            ...        ...        ...
435  136662.79676  38.897815 -77.012040
436  135988.53001  38.891741 -76.983645
437  135773.18857  38.889796 -76.963257
438  141101.24934  38.937795 -76.970647
439  142828.69431  38.953360 -76.997760
440  130311.51001  38.840601 -76.993666
441  136989.68608  38.900760 -77.013111
442  138177.81094  38.911463 -76.988473
443  140800.56074  38.935084 -77.036751
444  141629.29443  38.942555 -76.984661
445  136161.74371  38.893300 -76.975688
446  134569.68537  38.878960 -76.997601
447  140870.01258  38.935710 -77.037453
448  137873.16505  38.908719 -77.004188
449  135850.45600  38.890497 -76.988605
450  145484.83613  38.977285 -77.025480
451  134852.81001  38.881492 -76.933040
452  135121.52451  38.883930 -77.018730
453  137578.57894  38.906058 -77.041683
454  143308.79120  38.957679 -77.037145
455  137620.63091  38.906441 -77.025983
456  139776.68682  38.925854 -77.055159
457  139708.16000  38.925239 -77.050146
458  135440.84902  38.886807 -77.015201
459  146987.84913  38.990821 -77.036322
460  139730.94291  38.925443 -77.052011
461  145110.29844  38.973893 -77.068950
462  139891.73363  38.926865 -77.093990
463  143983.75188  38.963765 -77.001975
464  142147.02707  38.947219 -77.008609

                                           PROJECTNOTE  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                  POKA-2003-B-0048-JJ
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9    Reconstruction of 16th St. from Alaska to Prim...
10                                                 NaN
11                                                 NaN
12                                                 NaN
13                                                 NaN
14                                                 NaN
15                                                 NaN
16                                 POKA-2003-B-0048-JJ
17                                                 NaN
18                                                 NaN
19                                                 NaN
20                                                 NaN
21                                                 NaN
22                                                 NaN
23                                                 NaN
24                                                 NaN
25                                                 NaN
26                                                 NaN
27                                                 NaN
28                                                 NaN
29                                                 NaN
..                                                 ...
435                                                NaN
436                                                NaN
437                                FY-04 per Sylvester
438                                                NaN
439    Per Berehager  construction will begin in FY-04
440                                                NaN
441                                                NaN
442                                                NaN
443                                POKA-2003-B-0048-JJ
444                                                NaN
445                                                NaN
446                                                NaN
447                                POKA-2003-B-0048-JJ
448                                                NaN
449                                                NaN
450                                                NaN
451                                                NaN
452                                POKA-2003-B-0048-JJ
453                                POKA-2004-B-0016-JJ
454                                                NaN
455                                                NaN
456                                                NaN
457                                                NaN
458                                                NaN
459                                                NaN
460                                                NaN
461                                                NaN
462                                   2nd Aid to State
463                                                NaN
464                                                NaN

                                           PROJECTNAME         PROJECTMGR  \
0                                               FedAid    Paul Stephenson
1                                                  NaN                NaN
2             Fedral Aid Citywide Pavement Restoration  Mohamed Abdullahi
3    Citywide Pavement Restoration Contract (Local ...    Maduabuchi Udeh
4                                                  NaN                NaN
5                                        CIP_2004-2009              FY-05
6                        Citywide Pavement Restoration    Paul Stephenson
7                                       FedAid_6YR_CIP    Paul Stephenson
8                         Citywide Pavement Restoratin    paul Stephenson
9    Recons of 16TH St. from Alaska to Prime Rose  ...   Eskender  Konjit
10                                                 NaN                NaN
11                       Citywide Pavement Restoration    Paul Stephenson
12                                                 NaN                NaN
13                                                 NaN                NaN
14                                                 NaN                NaN
15                       Citywidy Pavement Restoration    Paul Stephenson
16   Citywide Pavement Restoration Contract (Local ...    Maduabuchi Udeh
17                       Citywide Pavement Restoration    Paul Stephenson
18                       Citywide Pavement Restoration    Paul Stephenson
19   CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL ...                NaN
20   CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL ...                NaN

In [79]:
from numpy import genfromtxt
#required = genfromtxt('ccp_current_csv.csv', delimiter=',')
genfromtxt(fname = required, dtype = ('str'))
print (required)

TypeError: must be str or None, not bytes

### 3.1.a  what is its shape and what does that mean?

In [8]:
required.shape

(465, 27)

The shape basically represents the number of rows and columns that are present in the given file.

## Homework 3.2
 What are the number of rows in each 'QUADRANT' ?

In [12]:
required['QUADRANT'].value_counts()
#This function returns the number of times each column value is repeated in the dataset.

NW    195
NE    163
SE     84
BN     12
SW     11
Name: QUADRANT, dtype: int64

In [69]:
#We can find unique values that occur in the column first and then find the occurance or count of each value in the coulmn.
print (required['QUADRANT'].unique())
print (required.index[required['QUADRANT']=='NE'].shape)
print (required.index[required['QUADRANT']=='NW'].shape)
print (required.index[required['QUADRANT']=='SE'].shape)
print (required.index[required['QUADRANT']=='BN'].shape)
print (required.index[required['QUADRANT']=='SW'].shape)

['NW' 'NE' 'SE' 'SW' 'BN']
(163,)
(195,)
(84,)
(12,)
(11,)

## Homework 3.3 - Array math demonstration 
For two arrarys  

a= [1,2,3,4]  type=float

b= [5,6,7,8]  type=float

Peform the following array operations using numpy   
( show both operational use of numpy and functional (example addition operation => + vs addition function => numbpy.add() )

### 3.3.1 addition a+b

In [55]:
import numpy as np
a = np.array([1,2,3,4],dtype=np.float)
b = np.array([5,6,7,8],dtype=np.float)
c = np.add(a,b)
print (c) 
c =a+b
print (c)

[  6.   8.  10.  12.]
[  6.   8.  10.  12.]

### 3.3.2 subtraction a-b

In [57]:
c = np.subtract(a,b)
print (c)
c =a-b
print (c)

[-4. -4. -4. -4.]
[-4. -4. -4. -4.]

### 3.3.3 multiplication a*b

In [59]:
c = np.multiply(a,b)
print (c)
c = a*b
print (c)

[  5.  12.  21.  32.]
[  5.  12.  21.  32.]

### 3.3.4 divsion a/b

In [60]:
c = np.divide(a,b)
print (c)
c = a/b
print (c)

[ 0.2         0.33333333  0.42857143  0.5       ]
[ 0.2         0.33333333  0.42857143  0.5       ]

### 3.3.5 modulo  a%b

In [61]:
c =np.mod(a,b)
print (c)
c =a%b
print (c)

[ 1.  2.  3.  4.]
[ 1.  2.  3.  4.]

### 3.3.6 power  a^b

In [63]:
c = np.power(a,b)
print (c)
c = a**b
print (c)

[  1.00000000e+00   6.40000000e+01   2.18700000e+03   6.55360000e+04]
[  1.00000000e+00   6.40000000e+01   2.18700000e+03   6.55360000e+04]

## Homework 3.4
Find your own data and load it into a dataframe

I found a dataset which contains nearly 6000 cricket matches. Each phase of the game is called an innings. While a team bats the other team fields and there are 11 players in a team. The team which scores most runs in an innings wins the match. The fielding teams bowls an over which consists of 6 balls. The team which wins can either win by runs or win by wickets. Win by runs happens when the team which bats first wins and win by wickets happens when the team which bats second wins. The dataset is of t20 matches where the fielding team bowls 20 overs.

In [100]:
import pandas as p
required = p.read_csv("t20_matches.csv")
print (required)
required.shape

                                          match_details  \
0     North Group:Durham v Nottinghamshire at Cheste...
1     South Group:Hampshire v Sussex at Southampton-...
2     Midlands/Wales/West Group:Somerset v Warwicksh...
3     South Group:Surrey v Middlesex at The Oval- Ju...
4     Midlands/Wales/West Group:Worcestershire v Nor...
5     Midlands/Wales/West Group:Gloucestershire v Wo...
6     South Group:Surrey v Essex at East Molesey- Ju...
7     North Group:Yorkshire v Derbyshire at Leeds- J...
8     Midlands/Wales/West Group:Glamorgan v Northamp...
9     South Group:Kent v Hampshire at Beckenham- Jun...
10    North Group:Leicestershire v Yorkshire at Leic...
11    North Group:Nottinghamshire v Lancashire at No...
12    South Group:Surrey v Sussex at East Molesey- J...
13    North Group:Durham v Leicestershire at Chester...
14    Midlands/Wales/West Group:Glamorgan v Somerset...
15    South Group:Hampshire v Essex at Southampton- ...
16    Midlands/Wales/West Group:Worcestershire v War...
17    South Group:Sussex v Middlesex at Hove- Jun 18...
18    North Group:Derbyshire v Nottinghamshire at De...
19    Midlands/Wales/West Group:Gloucestershire v No...
20    North Group:Lancashire v Yorkshire at Manchest...
21    South Group:Middlesex v Kent at Richmond- Jun ...
22    North Group:Leicestershire v Lancashire at Lei...
23    Midlands/Wales/West Group:Northamptonshire v S...
24    Midlands/Wales/West Group:Warwickshire v Glamo...
25    North Group:Yorkshire v Durham at Leeds- Jun 2...
26    South Group:Essex v Kent at Chelmsford- Jun 20...
27    North Group:Lancashire v Derbyshire at Manches...
28    North Group:Nottinghamshire v Leicestershire a...
29    Midlands/Wales/West Group:Somerset v Glouceste...
...                                                 ...
6387  8th Match:Karachi Kings v Lahore Qalandars at ...
6388  9th Match:Peshawar Zalmi v Quetta Gladiators a...
6389  10th Match:Islamabad United v Karachi Kings at...
6390  11th Match:Lahore Qalandars v Quetta Gladiator...
6391  12th Match:Islamabad United v Peshawar Zalmi a...
6392  13th Match:Karachi Kings v Peshawar Zalmi at S...
6393  14th Match:Islamabad United v Lahore Qalandars...
6394  15th Match:Karachi Kings v Quetta Gladiators a...
6395  16th Match:Lahore Qalandars v Peshawar Zalmi a...
6396  17th Match:Islamabad United v Quetta Gladiator...
6397  18th Match:Karachi Kings v Lahore Qalandars at...
6398  19th Match:Peshawar Zalmi v Quetta Gladiators ...
6399  20th Match:Islamabad United v Karachi Kings at...
6400  1st Qualifying Final:Peshawar Zalmi v Quetta G...
6401  2nd Qualifying Final:Islamabad United v Karach...
6402  3rd Qualifying Final:Karachi Kings v Peshawar ...
6403  Final:Peshawar Zalmi v Quetta Gladiators at La...
6404  1st T20I:Afghanistan v Ireland at Greater Noid...
6405  2nd T20I:Afghanistan v Ireland at Greater Noid...
6406  3rd T20I:Afghanistan v Ireland at Greater Noid...
6407  1st T20I:West Indies v Pakistan at Bridgetown-...
6408  2nd T20I:West Indies v Pakistan at Port of Spa...
6409  3rd T20I:West Indies v Pakistan at Port of Spa...
6410  4th  T20I:West Indies v Pakistan at Port of Sp...
6411  1st T20I:Sri Lanka v Bangladesh at Colombo (RP...
6412  2nd T20I:Sri Lanka v Bangladesh at Colombo (RP...
6413  1st match:Sunrisers Hyderabad v Royal Challeng...
6414  2nd match:Rising Pune Supergiant v Mumbai Indi...
6415  3rd match:Gujarat Lions v Kolkata Knight Rider...
6416  4th match:Kings XI Punjab v Rising Pune Superg...

                                                 result  \
0      Durham won by 6 wickets (with 5 balls remaining)
1                               Hampshire won by 5 runs
2                           Warwickshire won by 19 runs
3      Surrey won by 4 wickets (with 4 balls remaining)
4     Worcestershire won by 1 wicket (with 2 balls r...
5     Gloucestershire won by 4 wickets (with 5 balls...
6                                 Surrey won by 44 runs
7                              Yorkshire won by 45 runs
8                       Northamptonshire won by 23 runs
9       Kent won by 6 wickets (with 48 balls remaining)
10                        Leicestershire won by 16 runs
11    Nottinghamshire won by 7 wickets (with 5 balls...
12    Surrey won by 4 wickets (with 11 balls remaining)
13                        Leicestershire won by 46 runs
14    Somerset won by 7 wickets (with 12 balls remai...
15                                  Essex won by 4 runs
16                          Warwickshire won by 20 runs
17                                Sussex won by 41 runs
18    Derbyshire won by 9 wickets (with 51 balls rem...
19    Gloucestershire won by 5 wickets (with 3 balls...
20    Lancashire won by 7 wickets (with 41 balls rem...
21    Middlesex won by 7 wickets (with 16 balls rema...
22                        Leicestershire won by 22 runs
23                      Northamptonshire won by 15 runs
24                          Warwickshire won by 68 runs
25                             Yorkshire won by 55 runs
26      Kent won by 3 wickets (with 23 balls remaining)
27    Derbyshire won by 7 wickets (with 25 balls rem...
28    Leicestershire won by 1 wicket (with 0 balls r...
29    Gloucestershire won by 10 wickets (with 58 bal...
...                                                 ...
6387                     Lahore Qalandars won by 7 runs
6388                                          No result
6389           Karachi Kings won by 8 runs (D/L method)
6390  Quetta Gladiators won by 5 wickets (with 7 bal...
6391  Islamabad United won by 5 wickets (with 0 ball...
6392                        Karachi Kings won by 9 runs
6393  Lahore Qalandars won by 1 wicket (with 4 balls...
6394  Quetta Gladiators won by 6 wickets (with 6 bal...
6395                      Peshawar Zalmi won by 17 runs
6396                      Islamabad United won by 1 run
6397  Karachi Kings won by 5 wickets (with 0 balls r...
6398  Peshawar Zalmi won by 2 wickets (with 4 balls ...
6399  Karachi Kings won by 6 wickets (with 1 ball re...
6400                     Quetta Gladiators won by 1 run
6401                       Karachi Kings won by 44 runs
6402                      Peshawar Zalmi won by 24 runs
6403                      Peshawar Zalmi won by 58 runs
6404  Afghanistan won by 6 wickets (with 12 balls re...
6405            Afghanistan won by 17 runs (D/L method)
6406                         Afghanistan won by 28 runs
6407  Pakistan won by 6 wickets (with 17 balls remai...
6408                             Pakistan won by 3 runs
6409  West Indies won by 7 wickets (with 31 balls re...
6410  Pakistan won by 7 wickets (with 6 balls remain...
6411  Sri Lanka won by 6 wickets (with 7 balls remai...
6412                          Bangladesh won by 45 runs
6413                 Sunrisers Hyderabad won by 35 runs
6414  Rising Pune Supergiant won by 7 wickets (with ...
6415  Kolkata Knight Riders won by 10 wickets (with ...
6416  Kings XI Punjab won by 6 wickets (with 6 balls...

                                                 scores      date  \
0     Nottinghamshire 157/7 (20/20 ov); Durham 160/4...  13/06/03
1     Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...  13/06/03
2     Warwickshire 188/7 (20/20 ov); Somerset 169 (2...  13/06/03
3     Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...  13/06/03
4     Northamptonshire 150/9 (20/20 ov); Worcestersh...  13/06/03
5     Worcestershire 122 (19.5/20 ov); Gloucestershi...  14/06/03
6       Surrey 182/9 (20/20 ov); Essex 138 (18.5/20 ov)  14/06/03
7     Yorkshire 186/5 (20/20 ov); Derbyshire 141 (18...  14/06/03
8     Northamptonshire 159/5 (20/20 ov); Glamorgan 1...  16/06/03
9     Hampshire 145/6 (20/20 ov); Kent 147/4 (12/20 ov)  16/06/03
10    Leicestershire 174/6 (20/20 ov); Yorkshire 158...  16/06/03
11    Lancashire 120 (19.2/20 ov); Nottinghamshire 1...  16/06/03
12    Sussex 143/8 (20/20 ov); Surrey 145/6 (18.1/20...  16/06/03
13    Leicestershire 168/9 (20/20 ov); Durham 122/9 ...  18/06/03
14    Glamorgan 193/7 (20/20 ov); Somerset 197/3 (18...  18/06/03
15    Essex 155/6 (20/20 ov); Hampshire 151/3 (20/20...  18/06/03
16    Warwickshire 175 (19.4/20 ov); Worcestershire ...  18/06/03
17    Sussex 177/9 (20/20 ov); Middlesex 136 (19.3/2...  18/06/03
18    Nottinghamshire 94 (19.1/20 ov); Derbyshire 95...  19/06/03
19    Northamptonshire 128/5 (20/20 ov); Gloucesters...  19/06/03
20    Yorkshire 102/8 (20/20 ov); Lancashire 104/3 (...  19/06/03
21    Kent 161/8 (20/20 ov); Middlesex 165/3 (17.2/2...  19/06/03
22    Leicestershire 178/7 (20/20 ov); Lancashire 15...  20/06/03
23    Northamptonshire 166/6 (20/20 ov); Somerset 15...  20/06/03
24    Warwickshire 181/9 (20/20 ov); Glamorgan 113 (...  20/06/03
25    Yorkshire 198/4 (20/20 ov); Durham 143/8 (20/2...  20/06/03
26      Essex 116 (18.4/20 ov); Kent 120/7 (16.1/20 ov)  20/06/03
27    Lancashire 91 (17.4/20 ov); Derbyshire 95/3 (1...  21/06/03
28    Nottinghamshire 158/5 (20/20 ov); Leicestershi...  21/06/03
29    Somerset 119/9 (20/20 ov); Gloucestershire 120...  21/06/03
...                                                 ...       ...
6387  Lahore Qalandars 179/8 (20/20 ov); Karachi Kin...  16/02/17
6388                    Peshawar Zalmi 117/3 (16/16 ov)  17/02/17
6389  Islamabad United 90/8 (13/13 ov); Karachi King...  17/02/17
6390  Lahore Qalandars 200/3 (20/20 ov); Quetta Glad...  18/02/17
6391  Peshawar Zalmi 136/9 (20/20 ov); Islamabad Uni...  18/02/17
6392  Karachi Kings 174/4 (20/20 ov); Peshawar Zalmi...  19/02/17
6393  Islamabad United 145/8 (20/20 ov); Lahore Qala...  20/02/17
6394  Karachi Kings 154/6 (20/20 ov); Quetta Gladiat...  23/02/17
6395  Peshawar Zalmi 166/6 (20/20 ov); Lahore Qaland...  24/02/17
6396  Islamabad United 165/6 (20/20 ov); Quetta Glad...  24/02/17
6397  Lahore Qalandars 155/6 (20/20 ov); Karachi Kin...  25/02/17
6398  Quetta Gladiators 128 (20/20 ov); Peshawar Zal...  25/02/17
6399  Islamabad United 123/7 (15/15 ov); Karachi Kin...  26/02/17
6400  Quetta Gladiators 200/7 (20/20 ov); Peshawar Z...  28/02/17
6401  Karachi Kings 126 (19.4/20 ov); Islamabad Unit...  01/03/17
6402  Peshawar Zalmi 181/3 (20/20 ov); Karachi Kings...  03/03/17
6403  Peshawar Zalmi 148/6 (20/20 ov); Quetta Gladia...  05/03/17
6404  Ireland 165/5 (20/20 ov); Afghanistan 171/4 (1...  08/03/17
6405  Afghanistan 184/8 (20/20 ov); Ireland 93/9 (11...  10/03/17
6406  Afghanistan 233/8 (20/20 ov); Ireland 205 (19....  12/03/17
6407  West Indies 111/8 (20/20 ov); Pakistan 115/4 (...  26/03/17
6408  Pakistan 132 (20/20 ov); West Indies 129/8 (20...  30/03/17
6409  Pakistan 137/8 (20/20 ov); West Indies 138/3 (...  01/04/17
6410  West Indies 124/8 (20/20 ov); Pakistan 127/3 (...  02/04/17
6411  Bangladesh 155/6 (20/20 ov); Sri Lanka 158/4 (...  04/04/17
6412  Bangladesh 176/9 (20/20 ov); Sri Lanka 131 (18...  06/04/17
6413  Sunrisers Hyderabad 207/4 (20/20 ov); Royal Ch...  05/04/17
6414  Mumbai Indians 184/8 (20/20 ov); Rising Pune S...  06/04/17
6415  Gujarat Lions 183/4 (20/20 ov); Kolkata Knight...  07/04/17
6416  Rising Pune Supergiant 163/6 (20/20 ov); Kings...  08/04/17

                   venue                      round                    home  \
0      Chester-le-Street                North Group                  Durham
1            Southampton                South Group               Hampshire
2                Taunton  Midlands/Wales/West Group                Somerset
3               The Oval                South Group                  Surrey
4              Worcester  Midlands/Wales/West Group          Worcestershire
5                Bristol  Midlands/Wales/West Group         Gloucestershire
6           East Molesey                South Group                  Surrey
7                  Leeds                North Group               Yorkshire
8                Cardiff  Midlands/Wales/West Group               Glamorgan
9              Beckenham                South Group                    Kent
10             Leicester                North Group          Leicestershire
11            Nottingham                North Group         Nottinghamshire
12          East Molesey                South Group                  Surrey
13     Chester-le-Street                North Group                  Durham
14               Cardiff  Midlands/Wales/West Group               Glamorgan
15           Southampton                South Group               Hampshire
16             Worcester  Midlands/Wales/West Group          Worcestershire
17                  Hove                South Group                  Sussex
18                 Derby                North Group              Derbyshire
19               Bristol  Midlands/Wales/West Group         Gloucestershire
20            Manchester                North Group              Lancashire
21              Richmond                South Group               Middlesex
22             Leicester                North Group          Leicestershire
23           Northampton  Midlands/Wales/West Group        Northamptonshire
24            Birmingham  Midlands/Wales/West Group            Warwickshire
25                 Leeds                North Group               Yorkshire
26            Chelmsford                South Group                   Essex
27            Manchester                North Group              Lancashire
28            Nottingham                North Group         Nottinghamshire
29               Taunton  Midlands/Wales/West Group                Somerset
...                  ...                        ...                     ...
6387             Sharjah                  8th Match           Karachi Kings
6388             Sharjah                  9th Match          Peshawar Zalmi
6389             Sharjah                 10th Match        Islamabad United
6390             Sharjah                 11th Match        Lahore Qalandars
6391             Sharjah                 12th Match        Islamabad United
6392             Sharjah                 13th Match           Karachi Kings
6393             Sharjah                 14th Match        Islamabad United
6394         Dubai (DSC)                 15th Match           Karachi Kings
6395         Dubai (DSC)                 16th Match        Lahore Qalandars
6396         Dubai (DSC)                 17th Match        Islamabad United
6397         Dubai (DSC)                 18th Match           Karachi Kings
6398         Dubai (DSC)                 19th Match          Peshawar Zalmi
6399         Dubai (DSC)                 20th Match        Islamabad United
6400             Sharjah       1st Qualifying Final          Peshawar Zalmi
6401             Sharjah       2nd Qualifying Final        Islamabad United
6402         Dubai (DSC)       3rd Qualifying Final           Karachi Kings
6403              Lahore                      Final          Peshawar Zalmi
6404       Greater Noida                   1st T20I             Afghanistan
6405       Greater Noida                   2nd T20I             Afghanistan
6406       Greater Noida                   3rd T20I             Afghanistan
6407          Bridgetown                   1st T20I             West Indies
6408       Port of Spain                   2nd T20I             West Indies
6409       Port of Spain                   3rd T20I             West Indies
6410       Port of Spain                  4th  T20I             West Indies
6411       Colombo (RPS)                   1st T20I               Sri Lanka
6412       Colombo (RPS)                   2nd T20I               Sri Lanka
6413  Hyderabad (Deccan)                  1st match     Sunrisers Hyderabad
6414                Pune                  2nd match  Rising Pune Supergiant
6415              Rajkot                  3rd match           Gujarat Lions
6416              Indore                  4th match         Kings XI Punjab

                             away                  winner  win_by_runs  \
0                 Nottinghamshire                  Durham          NaN
1                          Sussex               Hampshire          5.0
2                    Warwickshire            Warwickshire         19.0
3                       Middlesex                  Surrey          NaN
4                Northamptonshire          Worcestershire          NaN
5                  Worcestershire         Gloucestershire          NaN
6                           Essex                  Surrey         44.0
7                      Derbyshire               Yorkshire         45.0
8                Northamptonshire        Northamptonshire         23.0
9                       Hampshire                    Kent          NaN
10                      Yorkshire          Leicestershire         16.0
11                     Lancashire         Nottinghamshire          NaN
12                         Sussex                  Surrey          NaN
13                 Leicestershire          Leicestershire         46.0
14                       Somerset                Somerset          NaN
15                          Essex                   Essex          4.0
16                   Warwickshire            Warwickshire         20.0
17                      Middlesex                  Sussex         41.0
18                Nottinghamshire              Derbyshire          NaN
19               Northamptonshire         Gloucestershire          NaN
20                      Yorkshire              Lancashire          NaN
21                           Kent               Middlesex          NaN
22                     Lancashire          Leicestershire         22.0
23                       Somerset        Northamptonshire         15.0
24                      Glamorgan            Warwickshire         68.0
25                         Durham               Yorkshire         55.0
26                           Kent                    Kent          NaN
27                     Derbyshire              Derbyshire          NaN
28                 Leicestershire          Leicestershire          NaN
29                Gloucestershire         Gloucestershire          NaN
...                           ...                     ...          ...
6387             Lahore Qalandars        Lahore Qalandars          7.0
6388            Quetta Gladiators               No result          NaN
6389                Karachi Kings           Karachi Kings          8.0
6390            Quetta Gladiators       Quetta Gladiators          NaN
6391               Peshawar Zalmi        Islamabad United          NaN
6392               Peshawar Zalmi           Karachi Kings          9.0
6393             Lahore Qalandars        Lahore Qalandars          NaN
6394            Quetta Gladiators       Quetta Gladiators          NaN
6395               Peshawar Zalmi          Peshawar Zalmi         17.0
6396            Quetta Gladiators        Islamabad United          1.0
6397             Lahore Qalandars           Karachi Kings          NaN
6398            Quetta Gladiators          Peshawar Zalmi          NaN
6399                Karachi Kings           Karachi Kings          NaN
6400            Quetta Gladiators       Quetta Gladiators          1.0
6401                Karachi Kings           Karachi Kings         44.0
6402               Peshawar Zalmi          Peshawar Zalmi         24.0
6403            Quetta Gladiators          Peshawar Zalmi         58.0
6404                      Ireland             Afghanistan          NaN
6405                      Ireland             Afghanistan         17.0
6406                      Ireland             Afghanistan         28.0
6407                     Pakistan                Pakistan          NaN
6408                     Pakistan                Pakistan          3.0
6409                     Pakistan             West Indies          NaN
6410                     Pakistan                Pakistan          NaN
6411                   Bangladesh               Sri Lanka          NaN
6412                   Bangladesh              Bangladesh         45.0
6413  Royal Challengers Bangalore     Sunrisers Hyderabad         35.0

(6417, 24)

## Homework 3.5
Provide an interesting analysis of the data columns ( frequency or averages )

In [132]:
print (required.describe())

#This function returns the values such as count, mean, minimum value, maximum value and standard deviation for any values which are either int or float.
#In case we want to find the mean, min or max value we can use independent function which can be applied on a particular column.
print (required['innings1_runs'].max())
#The above function returns the most number of runs scored by a team which bats first
print (required['innings2_runs'].max())
#The above function returns the most number of runs scored by a team which bats second
print (required["win_by_runs"].max())
#The above function gives the number of runs the first team beat the second team by
print (required["win_by_runs"].std())
#Returns the standard deviation 
print (required['balls_remaining'].max())
#This returns the maximum value where the team which bats second chased the score posed by the first team with balls to spare

       win_by_runs  win_by_wickets  balls_remaining  innings1_runs  \
count  2931.000000     3004.000000      2969.000000    6151.000000
mean     31.320710        6.089214        13.978107     151.409527
std      26.838237        1.996341        14.664918      32.986924
min       1.000000        1.000000         0.000000       1.000000
25%      11.000000        5.000000         4.000000     131.000000
50%      24.000000        6.000000         9.000000     152.000000
75%      45.000000        8.000000        19.000000     173.000000
max     172.000000       10.000000       100.000000     263.000000

       innings1_wickets  innings1_overs_batted  innings1_overs  innings2_runs  \
count       6151.000000            6151.000000     6151.000000    6070.000000
mean           6.577630              19.523199       19.738612     136.125371
std            2.152355               1.924720        1.510632      31.880776
min            0.000000               0.200000        5.000000       0.000000
25%            5.000000              20.000000       20.000000     117.000000
50%            7.000000              20.000000       20.000000     138.000000
75%            8.000000              20.000000       20.000000     157.000000
max           10.000000              20.000000       20.000000     248.000000

       innings2_wickets  innings2_overs_batted  innings2_overs  D/L_method  \
count       6070.000000            6070.000000     6070.000000       233.0
mean           5.998847              17.862537       19.530659         1.0
std            2.923842               3.075877        2.108147         0.0
min            0.000000               0.100000        5.000000         1.0
25%            4.000000              17.200000       20.000000         1.0
50%            6.000000              19.100000       20.000000         1.0
75%            9.000000              20.000000       20.000000         1.0
max           10.000000              20.000000       20.000000         1.0

           target
count  231.000000
mean   102.528139
std     40.406713
min     20.000000
25%     72.000000
50%     98.000000
75%    129.000000
max    233.000000
263.0
248.0
172.0
26.838237029809317
100.0

In [120]:
print (required.loc[required['innings1_runs']>required['innings2_runs']])
#This returns the list of matches where the team which bats first wins

                                          match_details  \
1     South Group:Hampshire v Sussex at Southampton-...
2     Midlands/Wales/West Group:Somerset v Warwicksh...
6     South Group:Surrey v Essex at East Molesey- Ju...
7     North Group:Yorkshire v Derbyshire at Leeds- J...
8     Midlands/Wales/West Group:Glamorgan v Northamp...
10    North Group:Leicestershire v Yorkshire at Leic...
13    North Group:Durham v Leicestershire at Chester...
15    South Group:Hampshire v Essex at Southampton- ...
16    Midlands/Wales/West Group:Worcestershire v War...
17    South Group:Sussex v Middlesex at Hove- Jun 18...
22    North Group:Leicestershire v Lancashire at Lei...
23    Midlands/Wales/West Group:Northamptonshire v S...
24    Midlands/Wales/West Group:Warwickshire v Glamo...
25    North Group:Yorkshire v Durham at Leeds- Jun 2...
30     South Group:Sussex v Essex at Hove- Jun 21, 2003
31    North Group:Derbyshire v Durham at Derby- Jun ...
32    Midlands/Wales/West Group:Glamorgan v Worceste...
33    South Group:Kent v Surrey at Canterbury- Jun 2...
36    Midlands/Wales/West Group:Gloucestershire v Gl...
37    South Group:Hampshire v Surrey at Southampton-...
38    North Group:Lancashire v Durham at Manchester-...
39    North Group:Leicestershire v Derbyshire at Lei...
40    Midlands/Wales/West Group:Northamptonshire v W...
41    Midlands/Wales/West Group:Worcestershire v Som...
42    North Group:Yorkshire v Nottinghamshire at Lee...
43    South Group:Essex v Middlesex at Chelmsford- J...
46    2nd Semi-Final:Gloucestershire v Surrey at Not...
49             Titans v Lions at Centurion- Apr 8, 2004
50            Dolphins v Eagles at Durban- Apr 11, 2004
51        Eagles v Titans at Bloemfontein- Apr 13, 2004
...                                                 ...
6350  North Zone:Punjab v Services at Dharamsala- Fe...
6351  North Zone:Haryana v Jammu & Kashmir at Nadaun...
6352  Central Zone:Railways v Uttar Pradesh at Jaipu...
6353  South Zone:Andhra v Tamil Nadu at Chennai- Feb...
6354  North Zone:Himachal Pradesh v Punjab at Dharam...
6355  South Zone:Hyderabad (India) v Karnataka at Ch...
6358  Central Zone:Chhattisgarh v Rajasthan at Jaipu...
6361  East Zone:Bengal v Odisha at Kolkata- Feb 3, 2017
6362  Central Zone:Madhya Pradesh v Uttar Pradesh at...
6363  South Zone:Andhra v Hyderabad (India) at Chenn...
6365  Central Zone:Chhattisgarh v Railways at Jaipur...
6374  Central Zone:Railways v Rajasthan at Jaipur- F...
6376  Central Zone:Madhya Pradesh v Vidarbha at Jaip...
6379  3rd T20I:Australia v Sri Lanka at Adelaide- Fe...
6380  1st Match:Islamabad United v Peshawar Zalmi at...
6381  2nd Match:Lahore Qalandars v Quetta Gladiators...
6387  8th Match:Karachi Kings v Lahore Qalandars at ...
6389  10th Match:Islamabad United v Karachi Kings at...
6392  13th Match:Karachi Kings v Peshawar Zalmi at S...
6395  16th Match:Lahore Qalandars v Peshawar Zalmi a...
6396  17th Match:Islamabad United v Quetta Gladiator...
6400  1st Qualifying Final:Peshawar Zalmi v Quetta G...
6401  2nd Qualifying Final:Islamabad United v Karach...
6402  3rd Qualifying Final:Karachi Kings v Peshawar ...
6403  Final:Peshawar Zalmi v Quetta Gladiators at La...
6405  2nd T20I:Afghanistan v Ireland at Greater Noid...
6406  3rd T20I:Afghanistan v Ireland at Greater Noid...
6408  2nd T20I:West Indies v Pakistan at Port of Spa...
6412  2nd T20I:Sri Lanka v Bangladesh at Colombo (RP...
6413  1st match:Sunrisers Hyderabad v Royal Challeng...

                                                 result  \
1                               Hampshire won by 5 runs
2                           Warwickshire won by 19 runs
6                                 Surrey won by 44 runs
7                              Yorkshire won by 45 runs
8                       Northamptonshire won by 23 runs
10                        Leicestershire won by 16 runs
13                        Leicestershire won by 46 runs
15                                  Essex won by 4 runs
16                          Warwickshire won by 20 runs
17                                Sussex won by 41 runs
22                        Leicestershire won by 22 runs
23                      Northamptonshire won by 15 runs
24                          Warwickshire won by 68 runs
25                             Yorkshire won by 55 runs
30                                 Sussex won by 7 runs
31                             Derbyshire won by 6 runs
32                             Glamorgan won by 56 runs
33                                Surrey won by 18 runs
36                       Gloucestershire won by 53 runs
37                                Surrey won by 19 runs
38                             Lancashire won by 4 runs
39                          Leicestershire won by 1 run
40                          Warwickshire won by 54 runs
41                        Worcestershire won by 37 runs
42                             Yorkshire won by 18 runs
43                                  Essex won by 2 runs
46                                 Surrey won by 5 runs
49                                 Lions won by 10 runs
50                                 Eagles won by 4 runs
51                                Titans won by 90 runs
...                                                 ...
6350                               Punjab won by 6 runs
6351                      Jammu & Kashmir won by 4 runs
6352                            Railways won by 90 runs
6353                          Tamil Nadu won by 37 runs
6354                              Punjab won by 23 runs
6355                           Karnataka won by 14 runs
6358                           Rajasthan won by 25 runs
6361                              Bengal won by 24 runs
6362                      Madhya Pradesh won by 26 runs
6363                              Andhra won by 11 runs
6365                         Chhattisgarh won by 6 runs
6374                           Rajasthan won by 21 runs
6376                       Madhya Pradesh won by 8 runs
6379                           Australia won by 41 runs
6380  Islamabad United won by 7 wickets (with 2 ball...
6381                    Quetta Gladiators won by 8 runs
6387                     Lahore Qalandars won by 7 runs
6389           Karachi Kings won by 8 runs (D/L method)
6392                        Karachi Kings won by 9 runs
6395                      Peshawar Zalmi won by 17 runs
6396                      Islamabad United won by 1 run
6400                     Quetta Gladiators won by 1 run
6401                       Karachi Kings won by 44 runs
6402                      Peshawar Zalmi won by 24 runs
6403                      Peshawar Zalmi won by 58 runs
6405            Afghanistan won by 17 runs (D/L method)
6406                         Afghanistan won by 28 runs
6408                             Pakistan won by 3 runs
6412                          Bangladesh won by 45 runs
6413                 Sunrisers Hyderabad won by 35 runs

                                                 scores      date  \
1     Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...  13/06/03
2     Warwickshire 188/7 (20/20 ov); Somerset 169 (2...  13/06/03
6       Surrey 182/9 (20/20 ov); Essex 138 (18.5/20 ov)  14/06/03
7     Yorkshire 186/5 (20/20 ov); Derbyshire 141 (18...  14/06/03
8     Northamptonshire 159/5 (20/20 ov); Glamorgan 1...  16/06/03
10    Leicestershire 174/6 (20/20 ov); Yorkshire 158...  16/06/03
13    Leicestershire 168/9 (20/20 ov); Durham 122/9 ...  18/06/03
15    Essex 155/6 (20/20 ov); Hampshire 151/3 (20/20...  18/06/03
16    Warwickshire 175 (19.4/20 ov); Worcestershire ...  18/06/03
17    Sussex 177/9 (20/20 ov); Middlesex 136 (19.3/2...  18/06/03
22    Leicestershire 178/7 (20/20 ov); Lancashire 15...  20/06/03
23    Northamptonshire 166/6 (20/20 ov); Somerset 15...  20/06/03
24    Warwickshire 181/9 (20/20 ov); Glamorgan 113 (...  20/06/03
25    Yorkshire 198/4 (20/20 ov); Durham 143/8 (20/2...  20/06/03
30      Sussex 180/6 (20/20 ov); Essex 173/4 (20/20 ov)  21/06/03
31    Derbyshire 157 (19.5/20 ov); Durham 151/5 (20/...  23/06/03
32    Glamorgan 170/4 (20/20 ov); Worcestershire 114...  23/06/03
33       Surrey 186/8 (20/20 ov); Kent 168/9 (20/20 ov)  23/06/03
36    Gloucestershire 221/7 (20/20 ov); Glamorgan 16...  24/06/03
37    Surrey 140/9 (20/20 ov); Hampshire 121 (20/20 ov)  24/06/03
38    Lancashire 144/8 (20/20 ov); Durham 140/9 (20/...  24/06/03
39    Leicestershire 171/8 (20/20 ov); Derbyshire 17...  24/06/03
40    Warwickshire 202/5 (20/20 ov); Northamptonshir...  24/06/03
41    Worcestershire 161/5 (20/20 ov); Somerset 124 ...  24/06/03
42    Yorkshire 196/5 (20/20 ov); Nottinghamshire 17...  24/06/03
43    Essex 175/5 (20/20 ov); Middlesex 173/7 (20/20...  24/06/03
46    Surrey 147/9 (20/20 ov); Gloucestershire 142/6...  19/07/03
49      Lions 145/6 (20/20 ov); Titans 135/8 (20/20 ov)  08/04/04
50    Eagles 185/5 (20/20 ov); Dolphins 181/5 (20/20...  11/04/04
51      Titans 184/5 (20/20 ov); Eagles 94 (16.5/20 ov)  13/04/04
...                                                 ...       ...
6350  Punjab 129/9 (20/20 ov); Services 123/8 (20/20...  01/02/17
6351  Jammu & Kashmir 156/3 (20/20 ov); Haryana 152/...  02/02/17
6352  Railways 148/8 (20/20 ov); Uttar Pradesh 58 (1...  02/02/17
6353  Tamil Nadu 179/5 (20/20 ov); Andhra 142/6 (20/...  02/02/17
6354  Punjab 162/7 (20/20 ov); Himachal Pradesh 139/...  02/02/17
6355  Karnataka 148/7 (20/20 ov); Hyderabad (India) ...  02/02/17
6358  Rajasthan 161/6 (20/20 ov); Chhattisgarh 136/7...  02/02/17
6361   Bengal 145/7 (20/20 ov); Odisha 121 (18.4/20 ov)  03/02/17
6362  Madhya Pradesh 161/9 (20/20 ov); Uttar Pradesh...  03/02/17
6363  Andhra 140 (19.2/20 ov); Hyderabad (India) 129...  03/02/17
6365  Chhattisgarh 126/7 (20/20 ov); Railways 120/8 ...  03/02/17
6374  Rajasthan 184/9 (20/20 ov); Railways 163/5 (20...  05/02/17
6376  Madhya Pradesh 135/5 (20/20 ov); Vidarbha 127 ...  06/02/17
6379  Australia 187/6 (20/20 ov); Sri Lanka 146 (18/...  22/02/17
6380  Peshawar Zalmi 190/9 (20/20 ov); Islamabad Uni...  09/02/17
6381  Quetta Gladiators 136/9 (20/20 ov); Lahore Qal...  10/02/17
6387  Lahore Qalandars 179/8 (20/20 ov); Karachi Kin...  16/02/17
6389  Islamabad United 90/8 (13/13 ov); Karachi King...  17/02/17
6392  Karachi Kings 174/4 (20/20 ov); Peshawar Zalmi...  19/02/17
6395  Peshawar Zalmi 166/6 (20/20 ov); Lahore Qaland...  24/02/17
6396  Islamabad United 165/6 (20/20 ov); Quetta Glad...  24/02/17
6400  Quetta Gladiators 200/7 (20/20 ov); Peshawar Z...  28/02/17
6401  Karachi Kings 126 (19.4/20 ov); Islamabad Unit...  01/03/17
6402  Peshawar Zalmi 181/3 (20/20 ov); Karachi Kings...  03/03/17
6403  Peshawar Zalmi 148/6 (20/20 ov); Quetta Gladia...  05/03/17
6405  Afghanistan 184/8 (20/20 ov); Ireland 93/9 (11...  10/03/17
6406  Afghanistan 233/8 (20/20 ov); Ireland 205 (19....  12/03/17
6408  Pakistan 132 (20/20 ov); West Indies 129/8 (20...  30/03/17
6412  Bangladesh 176/9 (20/20 ov); Sri Lanka 131 (18...  06/04/17
6413  Sunrisers Hyderabad 207/4 (20/20 ov); Royal Ch...  05/04/17

                   venue                      round                 home  \
1            Southampton                South Group            Hampshire
2                Taunton  Midlands/Wales/West Group             Somerset
6           East Molesey                South Group               Surrey
7                  Leeds                North Group            Yorkshire
8                Cardiff  Midlands/Wales/West Group            Glamorgan
10             Leicester                North Group       Leicestershire
13     Chester-le-Street                North Group               Durham
15           Southampton                South Group            Hampshire
16             Worcester  Midlands/Wales/West Group       Worcestershire
17                  Hove                South Group               Sussex
22             Leicester                North Group       Leicestershire
23           Northampton  Midlands/Wales/West Group     Northamptonshire
24            Birmingham  Midlands/Wales/West Group         Warwickshire
25                 Leeds                North Group            Yorkshire
30                  Hove                South Group               Sussex
31                 Derby                North Group           Derbyshire
32               Cardiff  Midlands/Wales/West Group            Glamorgan
33            Canterbury                South Group                 Kent
36               Bristol  Midlands/Wales/West Group      Gloucestershire
37           Southampton                South Group            Hampshire
38            Manchester                North Group           Lancashire
39             Leicester                North Group       Leicestershire
40           Northampton  Midlands/Wales/West Group     Northamptonshire
41             Worcester  Midlands/Wales/West Group       Worcestershire
42                 Leeds                North Group            Yorkshire
43            Chelmsford                South Group                Essex
46            Nottingham             2nd Semi-Final      Gloucestershire
49             Centurion                        NaN               Titans
50                Durban                        NaN             Dolphins
51          Bloemfontein                        NaN               Eagles
...                  ...                        ...                  ...
6350          Dharamsala                 North Zone               Punjab
6351              Nadaun                 North Zone              Haryana
6352              Jaipur               Central Zone             Railways
6353             Chennai                 South Zone               Andhra
6354          Dharamsala                 North Zone     Himachal Pradesh
6355             Chennai                 South Zone    Hyderabad (India)
6358              Jaipur               Central Zone         Chhattisgarh
6361             Kolkata                  East Zone               Bengal
6362              Jaipur               Central Zone       Madhya Pradesh
6363             Chennai                 South Zone               Andhra
6365              Jaipur               Central Zone         Chhattisgarh
6374              Jaipur               Central Zone             Railways
6376              Jaipur               Central Zone       Madhya Pradesh
6379            Adelaide                   3rd T20I            Australia
6380         Dubai (DSC)                  1st Match     Islamabad United
6381         Dubai (DSC)                  2nd Match     Lahore Qalandars
6387             Sharjah                  8th Match        Karachi Kings
6389             Sharjah                 10th Match     Islamabad United
6392             Sharjah                 13th Match        Karachi Kings
6395         Dubai (DSC)                 16th Match     Lahore Qalandars
6396         Dubai (DSC)                 17th Match     Islamabad United
6400             Sharjah       1st Qualifying Final       Peshawar Zalmi
6401             Sharjah       2nd Qualifying Final     Islamabad United
6402         Dubai (DSC)       3rd Qualifying Final        Karachi Kings
6403              Lahore                      Final       Peshawar Zalmi
6405       Greater Noida                   2nd T20I          Afghanistan
6406       Greater Noida                   3rd T20I          Afghanistan
6408       Port of Spain                   2nd T20I          West Indies
6412       Colombo (RPS)                   2nd T20I            Sri Lanka
6413  Hyderabad (Deccan)                  1st match  Sunrisers Hyderabad

                             away               winner  win_by_runs   ...    \
1                          Sussex            Hampshire          5.0   ...
2                    Warwickshire         Warwickshire         19.0   ...
6                           Essex               Surrey         44.0   ...
7                      Derbyshire            Yorkshire         45.0   ...
8                Northamptonshire     Northamptonshire         23.0   ...
10                      Yorkshire       Leicestershire         16.0   ...
13                 Leicestershire       Leicestershire         46.0   ...
15                          Essex                Essex          4.0   ...
16                   Warwickshire         Warwickshire         20.0   ...
17                      Middlesex               Sussex         41.0   ...
22                     Lancashire       Leicestershire         22.0   ...
23                       Somerset     Northamptonshire         15.0   ...
24                      Glamorgan         Warwickshire         68.0   ...
25                         Durham            Yorkshire         55.0   ...
30                          Essex               Sussex          7.0   ...
31                         Durham           Derbyshire          6.0   ...
32                 Worcestershire            Glamorgan         56.0   ...
33                         Surrey               Surrey         18.0   ...
36                      Glamorgan      Gloucestershire         53.0   ...
37                         Surrey               Surrey         19.0   ...
38                         Durham           Lancashire          4.0   ...
39                     Derbyshire       Leicestershire          1.0   ...
40                   Warwickshire         Warwickshire         54.0   ...
41                       Somerset       Worcestershire         37.0   ...
42                Nottinghamshire            Yorkshire         18.0   ...
43                      Middlesex                Essex          2.0   ...
46                         Surrey               Surrey          5.0   ...
49                          Lions                Lions         10.0   ...
50                         Eagles               Eagles          4.0   ...
51                         Titans               Titans         90.0   ...
...                           ...                  ...          ...   ...
6350                     Services               Punjab          6.0   ...
6351              Jammu & Kashmir      Jammu & Kashmir          4.0   ...
6352                Uttar Pradesh             Railways         90.0   ...
6353                   Tamil Nadu           Tamil Nadu         37.0   ...
6354                       Punjab               Punjab         23.0   ...
6355                    Karnataka            Karnataka         14.0   ...
6358                    Rajasthan            Rajasthan         25.0   ...
6361                       Odisha               Bengal         24.0   ...
6362                Uttar Pradesh       Madhya Pradesh         26.0   ...
6363            Hyderabad (India)               Andhra         11.0   ...
6365                     Railways         Chhattisgarh          6.0   ...
6374                    Rajasthan            Rajasthan         21.0   ...
6376                     Vidarbha       Madhya Pradesh          8.0   ...
6379                    Sri Lanka            Australia         41.0   ...
6380               Peshawar Zalmi     Islamabad United          NaN   ...
6381            Quetta Gladiators    Quetta Gladiators          8.0   ...
6387             Lahore Qalandars     Lahore Qalandars          7.0   ...
6389                Karachi Kings        Karachi Kings          8.0   ...
6392               Peshawar Zalmi        Karachi Kings          9.0   ...
6395               Peshawar Zalmi       Peshawar Zalmi         17.0   ...
6396            Quetta Gladiators     Islamabad United          1.0   ...
6400            Quetta Gladiators    Quetta Gladiators          1.0   ...
6401                Karachi Kings        Karachi Kings         44.0   ...
6402               Peshawar Zalmi       Peshawar Zalmi         24.0   ...
6403            Quetta Gladiators       Peshawar Zalmi         58.0   ...
6405                      Ireland          Afghanistan         17.0   ...
6406                      Ireland          Afghanistan         28.0   ...

In [118]:
print (required["win_by_runs"].median())
#This returns the median which is basically the middle most value

24.0

In [121]:
print (required.loc[required['innings2_runs']>required['innings1_runs']])
#This returns the details of the macthes where the team which chases a total wins.

                                          match_details  \
0     North Group:Durham v Nottinghamshire at Cheste...
3     South Group:Surrey v Middlesex at The Oval- Ju...
4     Midlands/Wales/West Group:Worcestershire v Nor...
5     Midlands/Wales/West Group:Gloucestershire v Wo...
9     South Group:Kent v Hampshire at Beckenham- Jun...
11    North Group:Nottinghamshire v Lancashire at No...
12    South Group:Surrey v Sussex at East Molesey- J...
14    Midlands/Wales/West Group:Glamorgan v Somerset...
18    North Group:Derbyshire v Nottinghamshire at De...
19    Midlands/Wales/West Group:Gloucestershire v No...
20    North Group:Lancashire v Yorkshire at Manchest...
21    South Group:Middlesex v Kent at Richmond- Jun ...
26    South Group:Essex v Kent at Chelmsford- Jun 20...
27    North Group:Lancashire v Derbyshire at Manches...
28    North Group:Nottinghamshire v Leicestershire a...
29    Midlands/Wales/West Group:Somerset v Glouceste...
34    South Group:Middlesex v Hampshire at Uxbridge-...
35    Midlands/Wales/West Group:Warwickshire v Glouc...
44      South Group:Sussex v Kent at Hove- Jun 24, 2003
45    1st Semi-Final:Leicestershire v Warwickshire a...
47    Final:Surrey v Warwickshire at Nottingham- Jul...
48    Western Province Boland v Dolphins at Cape Tow...
52    Eastern Cape v Western Province Boland at Port...
53       Lions v Dolphins at Johannesburg- Apr 16, 2004
55    Eastern Cape v Eagles at East London- Apr 18, ...
57      Dolphins v Eastern Cape at Durban- Apr 21, 2004
60    Lions v Eastern Cape at Potchefstroom- Apr 23,...
62     Titans v Eastern Cape at Centurion- Apr 25, 2004
63    Semi-Final:Western Province Boland v Eastern C...
64    Semi-Final:Titans v Eagles at Centurion- Apr 2...
...                                                 ...
6367  South Zone:Kerala v Tamil Nadu at Chennai- Feb...
6368  Central Zone:Chhattisgarh v Madhya Pradesh at ...
6369  West Zone:Baroda v Maharashtra at Vadodara- Fe...
6370  West Zone:Gujarat v Saurashtra at Vadodara- Fe...
6371  Central Zone:Rajasthan v Vidarbha at Jaipur- F...
6372   East Zone:Assam v Odisha at Kolkata- Feb 5, 2017
6373  Central Zone:Uttar Pradesh v Vidarbha at Jaipu...
6375  East Zone:Bengal v Jharkhand at Kolkata- Feb 5...
6377  1st T20I:Australia v Sri Lanka at Melbourne- F...
6378  2nd T20I:Australia v Sri Lanka at Geelong- Feb...
6382  3rd Match:Karachi Kings v Peshawar Zalmi at Du...
6383  4th Match:Islamabad United v Lahore Qalandars ...
6384  5th Match:Karachi Kings v Quetta Gladiators at...
6385  6th Match:Lahore Qalandars v Peshawar Zalmi at...
6386  7th Match:Islamabad United v Quetta Gladiators...
6390  11th Match:Lahore Qalandars v Quetta Gladiator...
6391  12th Match:Islamabad United v Peshawar Zalmi a...
6393  14th Match:Islamabad United v Lahore Qalandars...
6394  15th Match:Karachi Kings v Quetta Gladiators a...
6397  18th Match:Karachi Kings v Lahore Qalandars at...
6398  19th Match:Peshawar Zalmi v Quetta Gladiators ...
6399  20th Match:Islamabad United v Karachi Kings at...
6404  1st T20I:Afghanistan v Ireland at Greater Noid...
6407  1st T20I:West Indies v Pakistan at Bridgetown-...
6409  3rd T20I:West Indies v Pakistan at Port of Spa...
6410  4th  T20I:West Indies v Pakistan at Port of Sp...
6411  1st T20I:Sri Lanka v Bangladesh at Colombo (RP...
6414  2nd match:Rising Pune Supergiant v Mumbai Indi...
6415  3rd match:Gujarat Lions v Kolkata Knight Rider...
6416  4th match:Kings XI Punjab v Rising Pune Superg...

                                                 result  \
0      Durham won by 6 wickets (with 5 balls remaining)
3      Surrey won by 4 wickets (with 4 balls remaining)
4     Worcestershire won by 1 wicket (with 2 balls r...
5     Gloucestershire won by 4 wickets (with 5 balls...
9       Kent won by 6 wickets (with 48 balls remaining)
11    Nottinghamshire won by 7 wickets (with 5 balls...
12    Surrey won by 4 wickets (with 11 balls remaining)
14    Somerset won by 7 wickets (with 12 balls remai...
18    Derbyshire won by 9 wickets (with 51 balls rem...
19    Gloucestershire won by 5 wickets (with 3 balls...
20    Lancashire won by 7 wickets (with 41 balls rem...
21    Middlesex won by 7 wickets (with 16 balls rema...
26      Kent won by 3 wickets (with 23 balls remaining)
27    Derbyshire won by 7 wickets (with 25 balls rem...
28    Leicestershire won by 1 wicket (with 0 balls r...
29    Gloucestershire won by 10 wickets (with 58 bal...
34    Middlesex won by 8 wickets (with 31 balls rema...
35    Gloucestershire won by 8 wickets (with 41 ball...
44    Sussex won by 5 wickets (with 25 balls remaining)
45    Warwickshire won by 7 wickets (with 4 balls re...
47    Surrey won by 9 wickets (with 55 balls remaining)
48    Western Province Boland won by 6 wickets (with...
52    Western Province Boland won by 3 wickets (with...
53    Dolphins won by 6 wickets (with 1 ball remaining)
55    Eastern Cape won by 5 wickets (with 3 balls re...
57    Dolphins won by 7 wickets (with 4 balls remain...
60    Eastern Cape won by 7 wickets (with 3 balls re...
62    Titans won by 8 wickets (with 17 balls remaining)
63    Eastern Cape won by 7 wickets (with 7 balls re...
64    Eagles won by 7 wickets (with 29 balls remaini...
...                                                 ...
6367  Tamil Nadu won by 5 wickets (with 8 balls rema...
6368  Madhya Pradesh won by 7 wickets (with 15 balls...
6369  Maharashtra won by 7 wickets (with 1 ball rema...
6370  Gujarat won by 8 wickets (with 16 balls remain...
6371  Vidarbha won by 5 wickets (with 0 balls remain...
6372    Assam won by 6 wickets (with 9 balls remaining)
6373  Vidarbha won by 4 wickets (with 11 balls remai...
6375   Bengal won by 5 wickets (with 5 balls remaining)
6377  Sri Lanka won by 5 wickets (with 0 balls remai...
6378  Sri Lanka won by 2 wickets (with 0 balls remai...
6382  Peshawar Zalmi won by 7 wickets (with 9 balls ...
6383  Lahore Qalandars won by 6 wickets (with 10 bal...
6384  Quetta Gladiators won by 7 wickets (with 5 bal...
6385  Peshawar Zalmi won by 3 wickets (with 18 balls...
6386  Islamabad United won by 5 wickets (with 5 ball...
6390  Quetta Gladiators won by 5 wickets (with 7 bal...
6391  Islamabad United won by 5 wickets (with 0 ball...
6393  Lahore Qalandars won by 1 wicket (with 4 balls...
6394  Quetta Gladiators won by 6 wickets (with 6 bal...
6397  Karachi Kings won by 5 wickets (with 0 balls r...
6398  Peshawar Zalmi won by 2 wickets (with 4 balls ...
6399  Karachi Kings won by 6 wickets (with 1 ball re...
6404  Afghanistan won by 6 wickets (with 12 balls re...
6407  Pakistan won by 6 wickets (with 17 balls remai...
6409  West Indies won by 7 wickets (with 31 balls re...
6410  Pakistan won by 7 wickets (with 6 balls remain...
6411  Sri Lanka won by 6 wickets (with 7 balls remai...
6414  Rising Pune Supergiant won by 7 wickets (with ...
6415  Kolkata Knight Riders won by 10 wickets (with ...
6416  Kings XI Punjab won by 6 wickets (with 6 balls...

                                                 scores      date  \
0     Nottinghamshire 157/7 (20/20 ov); Durham 160/4...  13/06/03
3     Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...  13/06/03
4     Northamptonshire 150/9 (20/20 ov); Worcestersh...  13/06/03
5     Worcestershire 122 (19.5/20 ov); Gloucestershi...  14/06/03
9     Hampshire 145/6 (20/20 ov); Kent 147/4 (12/20 ov)  16/06/03
11    Lancashire 120 (19.2/20 ov); Nottinghamshire 1...  16/06/03
12    Sussex 143/8 (20/20 ov); Surrey 145/6 (18.1/20...  16/06/03
14    Glamorgan 193/7 (20/20 ov); Somerset 197/3 (18...  18/06/03
18    Nottinghamshire 94 (19.1/20 ov); Derbyshire 95...  19/06/03
19    Northamptonshire 128/5 (20/20 ov); Gloucesters...  19/06/03
20    Yorkshire 102/8 (20/20 ov); Lancashire 104/3 (...  19/06/03
21    Kent 161/8 (20/20 ov); Middlesex 165/3 (17.2/2...  19/06/03
26      Essex 116 (18.4/20 ov); Kent 120/7 (16.1/20 ov)  20/06/03
27    Lancashire 91 (17.4/20 ov); Derbyshire 95/3 (1...  21/06/03
28    Nottinghamshire 158/5 (20/20 ov); Leicestershi...  21/06/03
29    Somerset 119/9 (20/20 ov); Gloucestershire 120...  21/06/03
34    Hampshire 134/7 (20/20 ov); Middlesex 136/2 (1...  23/06/03
35    Warwickshire 134/7 (20/20 ov); Gloucestershire...  23/06/03
44     Kent 114 (18.5/20 ov); Sussex 115/5 (15.5/20 ov)  24/06/03
45    Leicestershire 162/7 (20/20 ov); Warwickshire ...  19/07/03
47    Warwickshire 115 (18.1/20 ov); Surrey 119/1 (1...  19/07/03
48    Dolphins 121/6 (20/20 ov); Western Province Bo...  07/04/04
52    Eastern Cape 121/9 (20/20 ov); Western Provinc...  13/04/04
53    Lions 162/6 (20/20 ov); Dolphins 163/4 (19.5/2...  16/04/04
55    Eagles 114/7 (20/20 ov); Eastern Cape 116/5 (1...  18/04/04
57    Eastern Cape 152/7 (20/20 ov); Dolphins 153/3 ...  21/04/04
60    Lions 151/5 (20/20 ov); Eastern Cape 155/3 (19...  23/04/04
62    Eastern Cape 146/6 (20/20 ov); Titans 147/2 (1...  25/04/04
63    Western Province Boland 128/7 (20/20 ov); East...  27/04/04
64     Titans 47 (14.3/16 ov); Eagles 48/3 (11.1/16 ov)  28/04/04
...                                                 ...       ...
6367  Kerala 128/6 (20/20 ov); Tamil Nadu 129/5 (18....  03/02/17
6368  Chhattisgarh 111/9 (20/20 ov); Madhya Pradesh ...  04/02/17
6369  Baroda 168/6 (20/20 ov); Maharashtra 169/3 (19...  04/02/17
6370  Saurashtra 147/9 (20/20 ov); Gujarat 153/2 (17...  04/02/17
6371  Rajasthan 154/5 (20/20 ov); Vidarbha 157/5 (20...  04/02/17
6372  Odisha 143/7 (20/20 ov); Assam 148/4 (18.3/20 ov)  05/02/17
6373  Uttar Pradesh 169/4 (20/20 ov); Vidarbha 171/6...  05/02/17
6375  Jharkhand 177/6 (20/20 ov); Bengal 178/5 (19.1...  05/02/17
6377  Australia 168/6 (20/20 ov); Sri Lanka 172/5 (2...  17/02/17
6378  Australia 173 (20/20 ov); Sri Lanka 176/8 (20/...  19/02/17
6382  Karachi Kings 118/7 (20/20 ov); Peshawar Zalmi...  10/02/17
6383  Islamabad United 158/7 (20/20 ov); Lahore Qala...  11/02/17
6384  Karachi Kings 159/8 (20/20 ov); Quetta Gladiat...  11/02/17
6385  Lahore Qalandars 59 (10.2/20 ov); Peshawar Zal...  12/02/17
6386  Quetta Gladiators 148/6 (20/20 ov); Islamabad ...  15/02/17
6390  Lahore Qalandars 200/3 (20/20 ov); Quetta Glad...  18/02/17
6391  Peshawar Zalmi 136/9 (20/20 ov); Islamabad Uni...  18/02/17
6393  Islamabad United 145/8 (20/20 ov); Lahore Qala...  20/02/17
6394  Karachi Kings 154/6 (20/20 ov); Quetta Gladiat...  23/02/17
6397  Lahore Qalandars 155/6 (20/20 ov); Karachi Kin...  25/02/17
6398  Quetta Gladiators 128 (20/20 ov); Peshawar Zal...  25/02/17
6399  Islamabad United 123/7 (15/15 ov); Karachi Kin...  26/02/17
6404  Ireland 165/5 (20/20 ov); Afghanistan 171/4 (1...  08/03/17
6407  West Indies 111/8 (20/20 ov); Pakistan 115/4 (...  26/03/17
6409  Pakistan 137/8 (20/20 ov); West Indies 138/3 (...  01/04/17
6410  West Indies 124/8 (20/20 ov); Pakistan 127/3 (...  02/04/17
6411  Bangladesh 155/6 (20/20 ov); Sri Lanka 158/4 (...  04/04/17
6414  Mumbai Indians 184/8 (20/20 ov); Rising Pune S...  06/04/17
6415  Gujarat Lions 183/4 (20/20 ov); Kolkata Knight...  07/04/17
6416  Rising Pune Supergiant 163/6 (20/20 ov); Kings...  08/04/17

                  venue                      round                     home  \
0     Chester-le-Street                North Group                   Durham
3              The Oval                South Group                   Surrey
4             Worcester  Midlands/Wales/West Group           Worcestershire
5               Bristol  Midlands/Wales/West Group          Gloucestershire
9             Beckenham                South Group                     Kent
11           Nottingham                North Group          Nottinghamshire
12         East Molesey                South Group                   Surrey
14              Cardiff  Midlands/Wales/West Group                Glamorgan
18                Derby                North Group               Derbyshire
19              Bristol  Midlands/Wales/West Group          Gloucestershire
20           Manchester                North Group               Lancashire
21             Richmond                South Group                Middlesex
26           Chelmsford                South Group                    Essex
27           Manchester                North Group               Lancashire
28           Nottingham                North Group          Nottinghamshire
29              Taunton  Midlands/Wales/West Group                 Somerset
34             Uxbridge                South Group                Middlesex
35           Birmingham  Midlands/Wales/West Group             Warwickshire
44                 Hove                South Group                   Sussex
45           Nottingham             1st Semi-Final           Leicestershire
47           Nottingham                      Final                   Surrey
48            Cape Town                        NaN  Western Province Boland
52       Port Elizabeth                        NaN             Eastern Cape
53         Johannesburg                        NaN                    Lions
55          East London                        NaN             Eastern Cape
57               Durban                        NaN                 Dolphins
60        Potchefstroom                        NaN                    Lions
62            Centurion                        NaN                   Titans
63            Cape Town                 Semi-Final  Western Province Boland
64            Centurion                 Semi-Final                   Titans
...                 ...                        ...                      ...
6367            Chennai                 South Zone                   Kerala
6368             Jaipur               Central Zone             Chhattisgarh
6369           Vadodara                  West Zone                   Baroda
6370           Vadodara                  West Zone                  Gujarat
6371             Jaipur               Central Zone                Rajasthan
6372            Kolkata                  East Zone                    Assam
6373             Jaipur               Central Zone            Uttar Pradesh
6375            Kolkata                  East Zone                   Bengal
6377          Melbourne                   1st T20I                Australia
6378            Geelong                   2nd T20I                Australia
6382        Dubai (DSC)                  3rd Match            Karachi Kings
6383        Dubai (DSC)                  4th Match         Islamabad United
6384        Dubai (DSC)                  5th Match            Karachi Kings
6385        Dubai (DSC)                  6th Match         Lahore Qalandars
6386            Sharjah                  7th Match         Islamabad United
6390            Sharjah                 11th Match         Lahore Qalandars
6391            Sharjah                 12th Match         Islamabad United
6393            Sharjah                 14th Match         Islamabad United
6394        Dubai (DSC)                 15th Match            Karachi Kings
6397        Dubai (DSC)                 18th Match            Karachi Kings
6398        Dubai (DSC)                 19th Match           Peshawar Zalmi
6399        Dubai (DSC)                 20th Match         Islamabad United
6404      Greater Noida                   1st T20I              Afghanistan
6407         Bridgetown                   1st T20I              West Indies
6409      Port of Spain                   3rd T20I              West Indies
6410      Port of Spain                  4th  T20I              West Indies
6411      Colombo (RPS)                   1st T20I                Sri Lanka
6414               Pune                  2nd match   Rising Pune Supergiant
6415             Rajkot                  3rd match            Gujarat Lions
6416             Indore                  4th match          Kings XI Punjab

                         away                  winner  win_by_runs   ...    \
0             Nottinghamshire                  Durham          NaN   ...
3                   Middlesex                  Surrey          NaN   ...
4            Northamptonshire          Worcestershire          NaN   ...
5              Worcestershire         Gloucestershire          NaN   ...
9                   Hampshire                    Kent          NaN   ...
11                 Lancashire         Nottinghamshire          NaN   ...
12                     Sussex                  Surrey          NaN   ...
14                   Somerset                Somerset          NaN   ...
18            Nottinghamshire              Derbyshire          NaN   ...
19           Northamptonshire         Gloucestershire          NaN   ...
20                  Yorkshire              Lancashire          NaN   ...
21                       Kent               Middlesex          NaN   ...
26                       Kent                    Kent          NaN   ...
27                 Derbyshire              Derbyshire          NaN   ...
28             Leicestershire          Leicestershire          NaN   ...
29            Gloucestershire         Gloucestershire          NaN   ...
34                  Hampshire               Middlesex          NaN   ...
35            Gloucestershire         Gloucestershire          NaN   ...
44                       Kent                  Sussex          NaN   ...
45               Warwickshire            Warwickshire          NaN   ...
47               Warwickshire                  Surrey          NaN   ...
48                   Dolphins        Western Province          NaN   ...
52    Western Province Boland        Western Province          NaN   ...
53                   Dolphins                Dolphins          NaN   ...
55                     Eagles            Eastern Cape          NaN   ...
57               Eastern Cape                Dolphins          NaN   ...
60               Eastern Cape            Eastern Cape          NaN   ...
62               Eastern Cape                  Titans          NaN   ...
63               Eastern Cape            Eastern Cape          NaN   ...
64                     Eagles                  Eagles          NaN   ...
...                       ...                     ...          ...   ...
6367               Tamil Nadu              Tamil Nadu          NaN   ...
6368           Madhya Pradesh          Madhya Pradesh          NaN   ...
6369              Maharashtra             Maharashtra          NaN   ...
6370               Saurashtra                 Gujarat          NaN   ...
6371                 Vidarbha                Vidarbha          NaN   ...
6372                   Odisha                   Assam          NaN   ...
6373                 Vidarbha                Vidarbha          NaN   ...
6375                Jharkhand                  Bengal          NaN   ...
6377                Sri Lanka               Sri Lanka          NaN   ...
6378                Sri Lanka               Sri Lanka          NaN   ...
6382           Peshawar Zalmi          Peshawar Zalmi          NaN   ...
6383         Lahore Qalandars        Lahore Qalandars          NaN   ...
6384        Quetta Gladiators       Quetta Gladiators          NaN   ...
6385           Peshawar Zalmi          Peshawar Zalmi          NaN   ...
6386        Quetta Gladiators        Islamabad United          NaN   ...
6390        Quetta Gladiators       Quetta Gladiators          NaN   ...
6391           Peshawar Zalmi        Islamabad United          NaN   ...
6393         Lahore Qalandars        Lahore Qalandars          NaN   ...
6394        Quetta Gladiators       Quetta Gladiators          NaN   ...
6397         Lahore Qalandars           Karachi Kings          NaN   ...
6398        Quetta Gladiators          Peshawar Zalmi          NaN   ...
6399            Karachi Kings           Karachi Kings          NaN   ...
6404                  Ireland             Afghanistan          NaN   ...
6407                 Pakistan                Pakistan          NaN   ...
6409                 Pakistan             West Indies          NaN   ...

In [93]:
print (required.loc[required['innings1_runs']==263])
#We can use this function to determine the details of the match where highest total was posed which was a couple of times.

                                          match_details  \
3717  31st match:Royal Challengers Bangalore v Pune ...
6077  1st T20I:Sri Lanka v Australia at Pallekele- S...

                                           result  \
3717  Royal Challengers Bangalore won by 130 runs
6077                     Australia won by 85 runs

                                                 scores      date      venue  \
3717  Royal Challengers Bangalore 263/5 (20/20 ov); ...  23/04/13  Bangalore
6077  Australia 263/3 (20/20 ov); Sri Lanka 178/9 (2...  06/09/16  Pallekele

           round                         home           away  \
3717  31st match  Royal Challengers Bangalore  Pune Warriors
6077    1st T20I                    Sri Lanka      Australia

                           winner  win_by_runs   ...    innings1_wickets  \
3717  Royal Challengers Bangalore        130.0   ...                 5.0
6077                    Australia         85.0   ...                 3.0

      innings1_overs_batted innings1_overs       innings2  innings2_runs  \
3717                   20.0           20.0  Pune Warriors          133.0
6077                   20.0           20.0      Sri Lanka          178.0

      innings2_wickets  innings2_overs_batted innings2_overs  D/L_method  \
3717               9.0                   20.0           20.0         NaN
6077               9.0                   20.0           20.0         NaN

      target
3717     NaN
6077     NaN

[2 rows x 24 columns]

In [115]:
print (required['date'].value_counts())
# This returns the number of matches played on each date. If we wanted to find the maximum value played on a particlar date we can use the below function
required['date'].value_counts().max()

06/01/16    16
17/07/15    15
17/03/13    14
10/01/16    14
07/01/16    14
02/01/16    14
25/05/09    13
03/01/16    13
29/01/17    13
19/03/13    13
22/03/13    13
04/04/14    13
10/07/15    13
21/03/13    13
04/01/16    13
03/04/07    12
28/03/15    12
04/04/07    12
27/03/15    12
26/03/12    12
07/04/07    12
21/10/11    12
02/04/14    12
01/04/14    12
18/03/13    12
20/10/11    12
25/03/15    12
30/03/12    12
27/03/12    12
03/07/15    11
            ..
28/12/10     1
16/08/15     1
05/11/08     1
24/09/12     1
18/09/11     1
06/06/10     1
23/05/12     1
22/12/11     1
01/07/13     1
26/04/11     1
29/04/08     1
24/05/16     1
23/03/07     1
25/10/08     1
01/10/16     1
09/08/13     1
22/08/13     1
06/05/16     1
28/08/12     1
13/12/16     1
01/12/06     1
09/11/15     1
20/05/11     1
16/02/11     1
19/10/09     1
22/05/09     1
29/04/15     1
26/04/12     1
20/02/11     1
10/02/09     1
Name: date, Length: 2273, dtype: int64

16

In [116]:
required['winner'].value_counts()
# This returns the team which won the most number of t20 matches. In this case the number of matches abondoned without bowling a ball was the maximum.

Match abandoned without a ball bowled    209
No result                                110
Chennai Super Kings                       94
Mumbai Indians                            91
Lancashire                                90
Hampshire                                 88
Warwickshire                              85
Nottinghamshire                           84
Essex                                     82
Surrey                                    82
Somerset                                  80
Kolkata Knight Riders                     78
Royal Challengers Bangalore               77
Kent                                      77
Sussex                                    74
Leicestershire                            73
Titans                                    71
Northamptonshire                          71
Pakistan                                  69
Yorkshire                                 69
Rajasthan Royals                          69
Auckland                                  68
Kings XI Punjab                           68
Cape Cobras                               63
Gloucestershire                           62
Worcestershire                            62
Delhi Daredevils                          60
Durham                                    58
Warriors                                  57
Afghanistan                               57
                                        ...
New Zealand A                              1
Combined Provinces                         1
Larkana Region                             1
Western Troopers                           1
St Vincent                                 1
Ruhuna Reds                                1
Denmark                                    1
Rangpur Division                           1
Schools Invitation XI                      1
South Island                               1
National Bank of Pakistan                  1
Kandy Crusaders                            1
Zimbabwe President's XI                    1
Southerns                                  1
Match tied (Sri Lanka                      1
Punjab (Pakistan)                          1
Dominica                                   1
Cayman Islands                             1
Azad Jammu & Kashmir Region                1
FATA Region                                1
Baluchistan                                1
Islamabad Region                           1
Abahani Limited                            1
Quetta Region                              1
Montserrat                                 1
Antigua                                    1
Rising Pune Supergiant                     1
St Vincent and the Grenadines              1
North Island                               1
Water and Power Development Authority      1
Name: winner, Length: 334, dtype: int64

In [127]:
required2 = required.loc[required['innings2_overs_batted']==20]
#print (required2)
#print (required2.loc[required2['win_by_runs']])
required2['win_by_runs'].value_counts()
#This returns the value where the team although batted second for complete 20 overs could not chase the total. For example the team batted second for 20 overs and lost by one run. This happend 80 times.

1.0      80
4.0      67
2.0      63
14.0     63
10.0     59
3.0      58
8.0      56
9.0      56
6.0      56
15.0     55
5.0      52
11.0     52
19.0     51
7.0      47
12.0     45
17.0     41
16.0     38
18.0     38
13.0     37
21.0     35
22.0     34
23.0     33
24.0     32
25.0     30
35.0     26
29.0     25
20.0     24
37.0     22
34.0     21
27.0     21
         ..
66.0      3
69.0      3
84.0      3
65.0      3
71.0      3
85.0      3
59.0      3
101.0     2
83.0      2
79.0      2
105.0     2
97.0      2
70.0      2
87.0      1
95.0      1
130.0     1
91.0      1
89.0      1
81.0      1
75.0      1
86.0      1
111.0     1
73.0      1
142.0     1
82.0      1
92.0      1
118.0     1
148.0     1
60.0      1
119.0     1
Name: win_by_runs, Length: 99, dtype: int64

In [129]:
print (required['venue'].value_counts())
#This returns the number of matches that happened at each venue. We can use max function to find max number of matches ar a particular venue. 
print (required['venue'].value_counts().max())

Dhaka                  176
Lahore                 167
Karachi                156
Delhi                  130
Mumbai                 119
Durban                 118
Birmingham             104
Johannesburg           100
Nottingham              98
Colombo (RPS)           97
The Oval                97
Harare                  96
Dubai (DSC)             92
Kolkata                 92
Chennai                 89
Bangalore               89
Cape Town               89
Abu Dhabi               88
Leicester               87
Southampton             87
Centurion               87
Rawalpindi              85
Hyderabad (Deccan)      85
Manchester              81
Cardiff                 81
Chester-le-Street       79
Chelmsford              77
Jaipur                  76
Taunton                 75
Hove                    73
                      ...
Kandy                    2
Kidderminster            2
Mong Kok                 2
East Molesey             2
Aberdeen                 2
Rugby                    1
Canberra                 1
Newcastle                1
Croydon                  1
Oamaru                   1
Manchester- Jul 28       1
Palmerston North         1
Triangle                 1
Leek                     1
Luton                    1
Nottingham- Jul 17       1
Peshawar                 1
Birmingham- Jul 9        1
Liverpool                1
Toowoomba                1
Himley                   1
Manchester- Aug 1        1
Swansea                  1
Kolkata- May 27          1
Bath                     1
Quetta                   1
Launceston               1
Northampton- Jul 29      1
Walvis Bay               1
Colchester               1
Name: venue, Length: 205, dtype: int64
176

In [130]:
required.loc[required['innings2_runs']==required['innings1_runs']]
#This returns the number of matches that ended in a tie where 1st innings total = 2nd innings total.

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
104,Midland/Wales/West Group:Gloucestershire v War...,Warwickshire won (lost fewer wickets),Gloucestershire 135/7 (20/20 ov); Warwickshire...,15/07/04,Bristol,Midland/Wales/West Group,Gloucestershire,Warwickshire,Warwickshire,NaN,...,7.0,20.0,20.0,Warwickshire,135.0,5.0,20.0,20.0,NaN,NaN
179,Midland/Wales/West Group:Glamorgan v Somerset ...,Glamorgan won (lost fewer wickets),Somerset 183 (18.4/20 ov); Glamorgan 183/8 (20...,22/06/05,Cardiff,Midland/Wales/West Group,Glamorgan,Somerset,Glamorgan,NaN,...,10.0,18.4,20.0,Glamorgan,183.0,8.0,20.0,20.0,NaN,NaN
264,Group B:Colts Cricket Club v Kurunegala Youth ...,Match tied,Kurunegala Youth Cricket Club 159/7 (20/20 ov)...,08/10/05,Colombo (NCC),Group B,Colts Cricket Club,Kurunegala Youth Cricket Club,Match tied,NaN,...,7.0,20.0,20.0,Colts Cricket Club,159.0,10.0,20.0,20.0,NaN,NaN
319,Only T20I:New Zealand v West Indies at Aucklan...,Match tied (New Zealand won the bowl-out),West Indies 126/7 (20/20 ov); New Zealand 126/...,16/02/06,Auckland,Only T20I,New Zealand,West Indies,New Zealand,NaN,...,7.0,20.0,20.0,New Zealand,126.0,8.0,20.0,20.0,NaN,NaN
352,Pool A:Karachi Zebras v Peshawar Panthers at K...,Karachi Zebras won (lost fewer wickets),Karachi Zebras 160/3 (20/20 ov); Peshawar Pant...,25/02/06,Karachi,Pool A,Karachi Zebras,Peshawar Panthers,Karachi Zebras,NaN,...,3.0,20.0,20.0,Peshawar Panthers,160.0,7.0,20.0,20.0,NaN,NaN
359,Pool A:Karachi Zebras v Multan Tigers at Karac...,Multan Tigers won on faster scoring rate (revi...,Karachi Zebras 173/9 (20/20 ov); Multan Tigers...,27/02/06,Karachi,Pool A,Karachi Zebras,Multan Tigers,Multan Tigers,NaN,...,9.0,20.0,20.0,Multan Tigers,173.0,9.0,20.0,20.0,NaN,NaN
397,Northamptonshire v Somerset at Northampton- Ju...,Match tied,Somerset 151/9 (20/20 ov); Northamptonshire 15...,29/06/06,Northampton,NaN,Northamptonshire,Somerset,Match tied,NaN,...,9.0,20.0,20.0,Northamptonshire,151.0,6.0,20.0,20.0,NaN,NaN
559,Group B:Bloomfield Cricket and Athletic Club v...,Match tied (Saracens Sports Club won the bowl-...,Bloomfield Cricket and Athletic Club 167 (20/2...,02/03/07,Colombo (Colts),Group B,Bloomfield Cricket and Athletic Club,Saracens Sports Club,Saracens Sports Club,NaN,...,10.0,20.0,20.0,Saracens Sports Club,167.0,9.0,20.0,20.0,NaN,NaN
635,West Zone:Gujarat v Saurashtra at Mumbai- Apr ...,Match tied (Gujarat won the bowl-out),Gujarat 154/8 (20/20 ov); Saurashtra 154 (20/2...,07/04/07,Mumbai,West Zone,Gujarat,Saurashtra,Gujarat,NaN,...,8.0,20.0,20.0,Saurashtra,154.0,10.0,20.0,20.0,NaN,NaN
679,South Division:Hampshire v Kent at Southampton...,Match tied,Kent 153/6 (20/20 ov); Hampshire 153/7 (20/20 ov),22/06/07,Southampton,South Division,Hampshire,Kent,Match tied,NaN,...,6.0,20.0,20.0,Hampshire,153.0,7.0,20.0,20.0,NaN,NaN
765,"10th Match, Group D:India v Pakistan at Durban...",Match tied (India won the bowl-out),India 141/9 (20/20 ov); Pakistan 141/7 (20/20 ov),14/09/07,Durban,"10th Match, Group D",India,Pakistan,India,NaN,...,9.0,20.0,20.0,Pakistan,141.0,7.0,20.0,20.0,NaN,NaN
811,"Auckland v Canterbury at Auckland- Jan 23, 2008",Match tied (Canterbury won the bowl-out),Auckland 136/7 (20/20 ov); Canterbury 136/3 (2...,23/01/08,Auckland,NaN,Auckland,Canterbury,Canterbury,NaN,...,7.0,20.0,20.0,Canterbury,136.0,3.0,20.0,20.0,NaN,NaN
865,"Eagles v Lions at Bloemfontein- Apr 4, 2008",Match tied,Eagles 152 (19.4/20 ov); Lions 152/7 (20/20 ov),04/04/08,Bloemfontein,NaN,Eagles,Lions,Match tied,NaN,...,10.0,19.4,20.0,Lions,152.0,7.0,20.0,20.0,NaN,NaN
968,Midlands/West/Wales Division:Gloucestershire v...,Match tied,Gloucestershire 158/4 (20/20 ov); Warwickshire...,13/06/08,Bristol,Midlands/West/Wales Division,Gloucestershire,Warwickshire,Match tied,NaN,...,4.0,20.0,20.0,Warwickshire,158.0,6.0,20.0,20.0,NaN,NaN
1018,North Division:Yorkshire v Durham at Leeds- Ju...,Match tied,Yorkshire 159/7 (20/20 ov); Durham 159/7 (20/2...,22/06/08,Leeds,North Division,Yorkshire,Durham,Match tied,NaN,...,7.0,20.0,20.0,Durham,159.0,7.0,20.0,20.0,NaN,NaN
1034,South Division:Hampshire v Essex at Southampto...,Match tied,Hampshire 164/6 (20/20 ov); Essex 164/8 (20/20...,25/06/08,Southampton,South Division,Hampshire,Essex,Match tied,NaN,...,6.0,20.0,20.0,Essex,164.0,8.0,20.0,20.0,NaN,NaN
1088,3rd Match:Canada v Zimbabwe at King City (NW)-...,Match tied (Zimbabwe won the bowl-out),Canada 135/7 (20/20 ov); Zimbabwe 135/9 (20/20...,11/10/08,King City (NW),3rd Match,Canada,Zimbabwe,Match tied (Zimbabwe,NaN,...,7.0,20.0,20.0,Zimbabwe,135.0,9.0,20.0,20.0,NaN,NaN
1101,1st T20I:New Zealand v West Indies at Auckland...,Match tied (West Indies won the one-over elimi...,New Zealand 155/7 (20/20 ov); West Indies 155/...,26/12/08,Auckland,1st T20I,New Zealand,West Indies,West Indies,NaN,...,7.0,20.0,20.0,West Indies,155.0,8.0,20.0,20.0,NaN,NaN
1134,"Lions v Cape Cobras at Potchefstroom- Feb 4, 2009",Match tied,Cape Cobras 154/6 (20/20 ov); Lions 154/6 (20/...,04/02/09,Potchefstroom,NaN,Lions,Cape Cobras,Match tied,NaN,...,6.0,20.0,20.0,Lions,154.0,6.0,20.0,20.0,NaN,NaN
1144,Semi-Final - 3rd Leg:Dolphins v Cape Cobras at...,Match tied (Cape Cobras won the one-over elimi...,Cape Cobras 148/4 (20/20 ov); Dolphins 148/8 (...,18/02/09,Durban,Semi-Final - 3rd Leg,Dolphins,Cape Cobras,Cape Cobras,NaN,...,4.0,20.0,20.0,Dolphins,148.0,8.0,20.0,20.0,NaN,NaN
1145,Semi-Final - 3rd Leg:Warriors v Eagles at Port...,Match tied (Eagles won the one-over eliminator),Warriors 97 (19.3/20 ov); Eagles 97/6 (20/20 ov),18/02/09,Port Elizabeth,Semi-Final - 3rd Leg,Warriors,Eagles,Match tied (Eagles,NaN,...,10.0,19.3,20.0,Eagles,97.0,6.0,20.0,20.0,NaN,NaN
1166,Northern Districts v Canterbury at Hamilton- F...,Match tied (Canterbury won the one-over elimin...,Canterbury 171/8 (20/20 ov); Northern District...,18/02/09,Hamilton,NaN,Northern Districts,Canterbury,Canterbury,NaN,...,8.0,20.0,20.0,Northern Districts,171.0,7.0,20.0,20.0,NaN,NaN
1199,"Centrals v Westerns at Bulawayo- May 13, 2009",Match tied,Westerns 208/3 (20/20 ov); Centrals 208/4 (20/...,13/05/09,Bulawayo,NaN,Centrals,Westerns,Match tied,NaN,...,3.0,20.0,20.0,Centrals,208.0,4.0,20.0,20.0,NaN,NaN
1202,Northerns (Zimbabwe) v Westerns at Bulawayo- M...,Match tied,Northerns (Zimbabwe) 139/8 (20/20 ov); Western...,14/05/09,Bulawayo,NaN,Northerns (Zimbabwe),Westerns,Match tied,NaN,...,8.0,20.0,20.0,Westerns,139.0,10.0,20.0,20.0,NaN,NaN
1220,10th match:Kolkata Knight Riders v Rajasthan R...,Match tied (Rajasthan Royals won the one-over ...,Rajasthan Royals 150/6 (20/20 ov); Kolkata Kni...,23/04/09,Cape Town,10th match,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,NaN,...,6.0,20.0,20.0,Kolkata Knight Riders,150.0,8.0,20.0,20.0,NaN,NaN
1430,"11th Match, Group B:Eagles v Sussex at Delhi- ...",Match tied (Eagles won the one-over eliminator),Sussex 119/7 (20/20 ov); Eagles 119/4 (20/20 ov),13/10/09,Delhi,"11th Match, Group B",Eagles,Sussex,Match tied (Eagles,NaN,...,7.0,20.0,20.0,Eagles,119.0,4.0,20.0,20.0,NaN,NaN
1493,"Auckland v Otago at Auckland- Jan 26, 2010",Match tied (Otago won the one-over eliminator),Auckland 171/9 (20/20 ov); Otago 171/9 (20/20 ov),26/01/10,Auckland,NaN,Auckland,Otago,Otago,NaN,...,9.0,20.0,20.0,Otago,171.0,9.0,20.0,20.0,NaN,NaN
1499,2nd Match:Scotland v Uganda at Nairobi (Gym)- ...,Match tied (Scotland won the one-over eliminator),Scotland 109/8 (20/20 ov); Uganda 109 (20/20 ov),31/01/10,Nairobi (Gym),2nd Match,Scotland,Uganda,Scotland,NaN,...,8.0,20.0,20.0,Uganda,109.0,10.0,20.0,20.0,NaN,NaN
1550,2nd T20I:New Zealand v Australia at Christchur...,Match tied (New Zealand won the one-over elimi...,New Zealand 214/6 (20/20 ov); Australia 214/4 ...,28/02/10,Christchurch,2nd T20I,New Zealand,Australia,New Zealand,NaN,...,6.0,20.0,20.0,Australia,214.0,4.0,20.0,20.0,NaN,NaN
1710,16th match:Chennai Super Kings v Kings XI Punj...,Match tied (Kings XI Punjab won the one-over e...,Kings XI Punjab 136/8 (20/20 ov); Chennai Supe...,21/03/10,Chennai,16th match,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,NaN,...,8.0,20.0,20.0,Chennai Super Kings,136.0,7.0,20.0,20.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,Central Districts v Auckland at New Plymouth- ...,Match tied (Auckland won the one-over eliminator),Auckland 159/7 (16/16 ov); Central Districts 1...,30/12/13,New Plymouth,NaN,Central Districts,Auckland,Auckland,NaN,...,7.0,16.0,16.0,Central Districts,159.0,10.0,16.0,16.0,NaN,NaN
4153,Sydney Sixers v Perth Scorchers at Sydney- Jan...,Match tied (Perth Scorchers won the one-over e...,Perth Scorchers 153/5 (20/20 ov); Sydney Sixer...,10/01/14,Sydney,NaN,Sydney Sixers,Perth Scorchers,Perth Scorchers,NaN,...,5.0,20.0,20.0,Sydney Sixers,153.0,9.0,20.0,20.0,NaN,NaN
4181,"Warriors v Dolphins at Port Elizabeth- Jan 17,...",Match tied,Warriors 152/7 (20/20 ov); Dolphins 152/9 (20/...,17/01/14,Port Elizabeth,NaN,Warriors,Dolphins,Match tied,NaN,...,7.0,20.0,20.0,Dolphins,152.0,9.0,20.0,20.0,NaN,NaN
4183,"Warriors v Lions at East London- Jan 19, 2014",Match tied,Warriors 156/5 (20/20 ov); Lions 156/8 (20/20 ov),19/01/14,East London,NaN,Warriors,Lions,Match tied,NaN,...,5.0,20.0,20.0,Lions,156.0,8.0,20.0,20.0,NaN,NaN
4395,North Zone:Punjab v Jammu & Kashmir at Mohali-...,Match tied (Punjab won the one-over eliminator),Punjab 144/8 (20/20 ov); Jammu & Kashmir 144 (...,05/04/14,Mohali,North Zone,Punjab,Jammu & Kashmir,Punjab,NaN,...,8.0,20.0,20.0,Jammu & Kashmir,144.0,10.0,20.0,20.0,NaN,NaN
4437,19th match:Kolkata Knight Riders v Rajasthan R...,Match tied (Rajasthan Royals won the one-over ...,Rajasthan Royals 152/5 (20/20 ov); Kolkata Kni...,29/04/14,Abu Dhabi,19th match,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,NaN,...,5.0,20.0,20.0,Kolkata Knight Riders,152.0,8.0,20.0,20.0,NaN,NaN
4499,5th Match:Guyana Amazon Warriors v Trinidad & ...,Match tied (Guyana Amazon Warriors won the one...,Trinidad & Tobago Red Steel 118/8 (20/20 ov); ...,17/07/14,Providence,5th Match,Guyana Amazon Warriors,Trinidad & Tobago Red Steel,Guyana Amazon Warriors,NaN,...,8.0,20.0,20.0,Guyana Amazon Warriors,118.0,9.0,20.0,20.0,NaN,NaN
4570,South Division:Glamorgan v Kent at Cardiff- Ju...,Match tied,Glamorgan 177/7 (20/20 ov); Kent 177/9 (20/20 ov),13/06/14,Cardiff,South Division,Glamorgan,Kent,Match tied,NaN,...,7.0,20.0,20.0,Kent,177.0,9.0,20.0,20.0,NaN,NaN
4672,Group B:Karachi Zebras v Rawalpindi Rams at Ka...,Match tied (Rawalpindi Rams won the one-over e...,Rawalpindi Rams 195/4 (20/20 ov); Karachi Zebr...,20/09/14,Karachi,Group B,Karachi Zebras,Rawalpindi Rams,Match tied (Rawalpindi Rams,NaN,...,4.0,20.0,20.0,Karachi Zebras,195.0,7.0,20.0,20.0,NaN,NaN
4712,"12th Match, Group B:Barbados Tridents v Cape C...",Match tied (Cape Cobras won the one-over elimi...,Barbados Tridents 174/8 (20/20 ov); Cape Cobra...,26/09/14,Mohali,"12th Match, Group B",Barbados Tridents,Cape Cobras,Cape Cobras,NaN,...,8.0,20.0,20.0,Cape Cobras,174.0,5.0,20.0,20.0,NaN,NaN
4776,"Lions v Knights at Potchefstroom- Nov 9, 2014",Match tied (Lions won the one-over eliminator),Lions 161/7 (20/20 ov); Knights 161/7 (20/20 ov),09/11/14,Potchefstroom,NaN,Lions,Knights,Lions,NaN,...,7.0,20.0,20.0,Knights,161.0,7.0,20.0,20.0,NaN,NaN
4788,"Titans v Warriors at Centurion- Nov 23, 2014",Match tied,Titans 79/5 (8/8 ov); Warriors 79/5 (8/8 ov),23/11/14,Centurion,NaN,Titans,Warriors,Match tied,NaN,...,5.0,8.0,8.0,Warriors,79.0,5.0,8.0,8.0,NaN,NaN
4820,Melbourne Stars v Sydney Sixers at Melbourne- ...,Match tied (Melbourne Stars won the one-over e...,Sydney Sixers 150/6 (20/20 ov); Melbourne Star...,05/01/15,Melbourne,NaN,Melbourne Stars,Sydney Sixers,Melbourne Stars,NaN,...,6.0,20.0,20.0,Melbourne Stars,150.0,4.0,20.0,20.0,NaN,NaN
4852,Easterns v South Western Districts at Benoni- ...,Match tied (South Western Districts won the on...,Easterns 130/3 (20/20 ov); South Western Distr...,30/11/14,Benoni,NaN,Easterns,South Western Districts,South Western Districts,NaN,...,3.0,20.0,20.0,South Western Districts,130.0,7.0,20.0,20.0,NaN,NaN
4912,"North Zone:Delhi v Services at Delhi- Mar 28, ...",Match tied (Delhi won the one-over eliminator),Services 148/6 (20/20 ov); Delhi 148/9 (20/20 ov),28/03/15,Delhi,North Zone,Delhi,Services,Delhi,NaN,...,6.0,20.0,20.0,Delhi,148.0,9.0,20.0,20.0,NaN,NaN
4966,Group A:Badureliya Sports Club v Ragama Cricke...,Match tied,Badureliya Sports Club 157/7 (20/20 ov); Ragam...,05/04/15,Colombo (CCC),Group A,Badureliya Sports Club,Ragama Cricket Club,Match tied,NaN,...,7.0,20.0,20.0,Ragama Cricket Club,157.0,10.0,20.0,20.0,NaN,NaN
5026,18th match:Rajasthan Royals v Kings XI Punjab ...,Match tied (Kings XI Punjab won the one-over e...,Rajasthan Royals 191/6 (20/20 ov); Kings XI Pu...,21/04/15,Ahmedabad,18th match,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,NaN,...,6.0,20.0,20.0,Kings XI Punjab,191.0,6.0,20.0,20.0,NaN,NaN
5244,North Group:Leicestershire v Yorkshire at Leic...,Match tied,Leicestershire 142/7 (20/20 ov); Yorkshire 142...,26/06/15,Leicester,North Group,Leicestershire,Yorkshire,Match tied,NaN,...,7.0,20.0,20.0,Yorkshire,142.0,8.0,20.0,20.0,NaN,NaN
5302,4th Quarter-Final:Kent v Lancashire at Canterb...,Lancashire won (lost fewer wickets),Kent 142 (20/20 ov); Lancashire 142/6 (20/20 ov),15/08/15,Canterbury,4th Quarter-Final,Kent,Lancashire,Lancashire,NaN,...,10.0,20.0,20.0,Lancashire,142.0,6.0,20.0,20.0,NaN,NaN
5332,Group A:Bahawalpur Region v Hyderabad Region a...,Match tied (Bahawalpur Region won the one-over...,Bahawalpur Region 160/4 (20/20 ov); Hyderabad ...,10/09/15,Rawalpindi,Group A,Bahawalpur Region,Hyderabad Region,Bahawalpur Region,NaN,...,4.0,20.0,20.0,Hyderabad Region,160.0,5.0,20.0,20.0,NaN,NaN
5401,3rd T20I:England v Pakistan at Sharjah- Nov 30...,Match tied (England won the one-over eliminator),England 154/8 (20/20 ov); Pakistan 154/7 (20/2...,30/11/15,Sharjah,3rd T20I,England,Pakistan,England,NaN,...,8.0,20.0,20.0,Pakistan,154.0,7.0,20.0,20.0,NaN,NaN
5402,"Warriors v Knights at Cape Town- Nov 1, 2015",Match tied (Warriors won the one-over eliminator),Warriors 81/2 (6/6 ov); Knights 81/5 (6/6 ov),01/11/15,Cape Town,NaN,Warriors,Knights,Warriors,NaN,...,2.0,6.0,6.0,Knights,81.0,5.0,6.0,6.0,NaN,NaN
5404,"Cape Cobras v Lions at Cape Town- Nov 1, 2015",Lions won by 7 wickets (with 8 balls remaining...,Cape Cobras 125/8 (18/18 ov); Lions 125/3 (16....,01/11/15,Cape Town,NaN,Cape Cobras,Lions,Lions,NaN,...,8.0,18.0,18.0,Lions,125.0,3.0,16.4,18.0,1.0,124.0
5445,"Auckland v Canterbury at Auckland- Nov 18, 2015",Match tied (Auckland won the one-over eliminator),Auckland 170/4 (20/20 ov); Canterbury 170/9 (2...,18/11/15,Auckland,NaN,Auckland,Canterbury,Auckland,NaN,...,4.0,20.0,20.0,Canterbury,170.0,9.0,20.0,20.0,NaN,NaN
5505,5th unofficial T20I:England Lions v Pakistan A...,Match tied (England Lions won the one-over eli...,Pakistan A 165/3 (20/20 ov); England Lions 165...,16/12/15,ICCA Dubai,5th unofficial T20I,England Lions,Pakistan A,England Lions,NaN,...,3.0,20.0,20.0,England Lions,165.0,4.0,20.0,20.0,NaN,NaN
5725,Final:Mountaineers v Mashonaland Eagles at Bul...,Match tied (Mashonaland Eagles won the one-ove...,Mountaineers 167/6 (20/20 ov); Mashonaland Eag...,13/02/16,Bulawayo,Final,Mountaineers,Mashonaland Eagles,Mashonaland Eagles,NaN,...,6.0,20.0,20.0,Mashonaland Eagles,167.0,6.0,20.0,20.0,NaN,NaN
6138,2nd Semi-Final:Northern Cape v North West at O...,Match tied (Northern Cape won the one-over eli...,North West 181/6 (20/20 ov); Northern Cape 181...,30/09/16,Oudtshoorn,2nd Semi-Final,Northern Cape,North West,Northern Cape,NaN,...,6.0,20.0,20.0,Northern Cape,181.0,6.0,20.0,20.0,NaN,NaN
6227,Canterbury v Wellington at Christchurch- Dec 1...,Match tied (Canterbury won the one-over elimin...,Canterbury 166/5 (20/20 ov); Wellington 166/7 ...,15/12/16,Christchurch,NaN,Canterbury,Wellington,Canterbury,NaN,...,5.0,20.0,20.0,Wellington,166.0,7.0,20.0,20.0,NaN,NaN
6249,"Wellington v Otago at Wellington- Jan 3, 2017",Match tied (Wellington won the one-over elimin...,Otago 48/1 (5/5 ov); Wellington 48/6 (5/5 ov),03/01/17,Wellington,NaN,Wellington,Otago,Wellington,NaN,...,1.0,5.0,5.0,Wellington,48.0,6.0,5.0,5.0,NaN,NaN
6307,2nd Semi-Final:Brisbane Heat v Sydney Sixers a...,Match tied (Sydney Sixers won the one-over eli...,Brisbane Heat 167/9 (20/20 ov); Sydney Sixers ...,25/01/17,Brisbane,2nd Semi-Final,Brisbane Heat,Sydney Sixers,Sydney Sixers,NaN,...,9.0,20.0,20.0,Sydney Sixers,167.0,8.0,20.0,20.0,NaN,NaN